#calendar-container
{
	border: 1px solid #4082E6;
}

#calendar-top-div
{
	line-height: 100%;
	background-color: #4082E6;
	font-size: 20px;
	color: white;
	padding: 8px;
	padding-left: 15px;
}

#calendar-side-div
{
	float: left;
	margin-top: 20px;
	width: 15%;
}

#mini-calendar-div
{
	
}

.mini-calendar-top
{
	background-color: #4082E6;
	line-height: 100%;
	font-size: 14px;
	color: white;
	text-align: center;
	padding: 5px;
}

.mini-calendar-top-arrow-left a, 
.mini-calendar-top-arrow-right a
{
	font-size: 20px;
	font-weight: bold;
	color: white;
}

.mini-calendar-top-month-name
{
	width: 100%;
}

.mini-calendar-top-arrow-left
{
	float: left;
}

.mini-calendar-top-arrow-right
{
	float: right;
}

.mini-calendar-top-arrow-left, 
.mini-calendar-top-arrow-right
{
	width: 10%;
}

.mini-calendar-body
{
	border: 1px solid #4082E6;
}

.mini-calendar-table
{
	width: 100%;
}

.mini-calendar-table a
{
	color: black;
}

.mini-calendar-table a:hover
{
	color: #4082E6;
}

.mini-calendar-table-not-current-month a
{
	color: #707070;
}

.mini-calendar-table-current-day
{
	font-weight: bold;
}

.mini-calendar-table tr td
{
	text-align: center;
}

#calendar-div
{
	float: left;
	clear: both;	
}