#calendar-container
{
	border: 1px solid #4082E6;
}

#calendar-top-div
{
	line-height: 100%;
	background-color: #4082E6;
	font-size: 20px;
	color: white;
	padding: 8px;
	padding-left: 15px;
}

.calendar-top-controls
{
	float: right;
	width: 50%;
}

.calendar-top-controls-date
{
	float: left;
}

.calendar-top-controls-arrows
{
	float: left;
}

#calendar-side-div
{
	float: left;
	margin-top: 20px;
	width: 15%;
}

.mini-calendar-top
{
	background-color: #4082E6;
	line-height: 100%;
	font-size: 14px;
	color: white;
	text-align: center;
	padding: 5px;
}

.mini-calendar-top-arrow-left a, 
.mini-calendar-top-arrow-right a
{
	font-size: 20px;
	font-weight: bold;
	color: white;
}

.mini-calendar-top-month-name
{
	width: 100%;
}

.mini-calendar-top-arrow-left
{
	float: left;
}

.mini-calendar-top-arrow-right
{
	float: right;
}

.mini-calendar-top-arrow-left, 
.mini-calendar-top-arrow-right
{
	width: 10%;
}

.mini-calendar-body
{
	border: 1px solid #4082E6;
}

.mini-calendar-table
{
	width: 100%;
}

.mini-calendar-table a
{
	color: black;
}

.mini-calendar-table a:hover
{
	color: #4082E6;
}

.mini-calendar-table-not-current-month a
{
	color: #707070;
}

.mini-calendar-table-current-day
{
	font-weight: bold;
}

.mini-calendar-table tr td
{
	text-align: center;
}

/* CALENDAR TABLE */

#calendar-div
{
	float: left;
	margin-top: 20px;
	margin-left: 3%;
	width: 82%;
}

.calendar-body
{
	border: 1px solid #4082E6;
}

.calendar-table
{
	width: 100%;
}

.calendar-table tr td
{
	border: 1px solid #9C9C9C;
}

.calendar-table-current-day
{
	
}

.calendar-table-not-current-month
{
	
}

.calendar-table-cell-header
{
	background-color: #E3E3E3;
	overflow: auto;
}

.calendar-table-cell-header-left
{
	float: left;
	padding-left: 8px;
	font-size: 16px;
}

.calendar-table-not-current-month .calendar-table-cell-header-left
{
	color: #999;
}

.calendar-table-current-day .calendar-table-cell-header-left
{
	font-weight: bold;
}

.calendar-table-cell-header-right
{
	float: right;
	padding-right: 8px;
}

.calendar-table-cell-header-right a
{
	font-size: 17px;
}

.calendar-table-cell-body
{
	height: 80px;
}