<!DOCTYPE html>
<html>
<head>
    @inject('Library\Session\Session')
    <title>School</title>
    <meta http-equiv="Content-type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta id="csrf-token" content="{{ $session->generateToken() }}">
    <link rel="stylesheet" href="/css/app.css" />
    <link rel="stylesheet" href="/vendor/font-awesome-4.4.0/css/font-awesome.min.css" />
</head>

<body id="frontend">

<header>
    <nav>
        <ul>
            <li><a href="@path('frontend.account.signUp')">Sign up</a></li>
            <li><a href="@path('frontend.account.login')">Login</a></li>
        </ul>
    </nav>
</header>

<div id="container">
    <div id="content">
        <flash v-ref:flash></flash>
        @yield('content')
    </div>
</div>

<script src="/js/main.js"></script>
<script src="/js/validator.js"></script>

@yield('javascript')

</body>
</html>