<!DOCTYPE html>
<html>
<head>
    <title>School</title>
    <meta charset="utf-8" />
    <meta name="author" content="Givi Odikadze" />
    <meta name="dc.created" content="2015-02-12" />
    <!-- <link rel="shortcut icon" href="/images/favicon.ico" > -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/Resources/Assets/css/default.css" type="text/css" />
    <link rel="stylesheet" href="{{ asset('css/frontend.css') }}" type="text/css" />
    <link rel="stylesheet" href="test.css" type="text/css" />
    <script src="https://code.jquery.com/jquery-1.11.2.min.js" type="text/javascript"></script>
    <script src="https://code.jquery.com/ui/1.10.4/jquery-ui.min.js" type="text/javascript"></script>
    <script src="/../Resources/Assets/js/validator.js" type="text/javascript"></script>
</head>
<body>
<div id="container">
    <nav id="top-nav">
        <span class="top-nav-brand">School Manager</span>
        <span class="top-nav-account-links">
            <a href="@path('frontend.account.login')">Login</a>&nbsp;
            <a class="sign-up" href="@path('frontend.account.signUp')">Sign up</a>
        </span>
    </nav>
    <nav id="main-nav" role="navigation">
        <ul>
            <li><a href="@path('frontend.index.index')">Home</a></li>
            <li><a href="@path('frontend.index.features')">Features</a></li>
            <li><a href="@path('frontend.index.testimonials')">Testimonials</a></li>
            <li><a href="@path('frontend.index.faq')">FAQ</a></li>
            <li><a href="@path('frontend.index.about')">About us</a></li>
            <li><a href="@path('frontend.account.signUp')">Sign up</a></li>
        </ul>
    </nav>
    <hr class="fade-out-separator" />
    <div id="content">
        @yield('content')
    </div>
</div>
<footer>
    <div class="bottom-links">
        <a href="/">home</a>&nbsp;|
        <a href="http://facebook.com">facebook</a>&nbsp;|
        <a href="@path('frontend.index.about')">about us</a>&nbsp;|
        <a href="@path('frontend.index.contactUs')">contact us</a>
    </div>
    <div class="copyright">
        Copyright &copy; 2015 TrueLine Designs
    </div>
</footer>
</body>
</html>
