<div class="page-sidebar navbar-collapse collapse">
    <ul class="page-sidebar-menu" data-slide-speed="200" data-auto-scroll="false">
        <li class="sidebar-toggler-wrapper">
            <div class="sidebar-toggler hidden-phone"></div>
        </li>
        <li class="start">
            <a href="#">Home</a>
        </li>
        <li>
            <a href="javascript:;">Top level</a>
            <ul class="sub-menu" style="display: block;">
                <li>
                    <a href="#">Sub menu</a>
                </li>
                <li>
                    <a href="#">Sub menu</a>
                </li>
            </ul>
        </li>
    </ul>
</div>