$header-height: 50px;

#payment {
  .p-activity-header {
    margin-top: 10px;
    height: $header-height;
    line-height: $header-height;
    border-top: 1px solid #5c5c5c;
    border-bottom: 1px solid #5c5c5c;
    color: $color-main;
    font-size: 26px;
    cursor: pointer;
    padding-left: 10px;
  }

  .p-no-students {
    text-align: center;
    font-size: 18px;
    margin-top: 30px;
  }

  .p-no-students a {
    color: $color-main;
  }

  .p-activity-header:hover,
  .p-activity-header.open {
    background-color: $color-main;
    color: white;
  }

  .p-activity-body {
    margin: 10px;

    table {
      tr th:first-child,
      tr td:first-child {
        padding-left: 5px;
      }

      tbody {
        tr:first-child td {
          padding-top: 10px;
        }

        tr td:nth-child(2) img {
          margin-right: 5px;
        }

        tr td:last-child .payment-options-container i {
          opacity: 0;
        }

        tr:hover td:last-child .payment-options-container i {
          opacity: 100;
        }
      }
    }
  }

  .popover-template-container {
    position: relative;

    i {
      cursor: pointer;
      font-size: 20px;
    }

    > div {
      position: absolute;
      bottom: 100%;
      margin-bottom: 10px;
      left: -50%;
    }

    .popover-template-options {
      position: relative;
      border: 1px solid #B0B0B0;
      text-align: center;
      background-color: white;
      border-radius: 4px;
      -webkit-box-shadow: 0px 0px 15px -4px rgba(138,138,138,1);
      -moz-box-shadow: 0px 0px 15px -4px rgba(138,138,138,1);
      box-shadow: 0px 0px 15px -4px rgba(138,138,138,1);
    }

    .popover-template-options:after,
    .popover-template-options:before {
      top: 100%;
      left: 50%;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
    }

    .popover-template-options:after {
      border-color: rgba(255, 255, 255, 0);
      border-top-color: #ffffff;
      border-width: 7px;
      margin-left: -7px;
    }

    .popover-template-options:before {
      border-color: rgba(176, 176, 176, 0);
      border-top-color: #B0B0B0;
      border-width: 8px;
      margin-left: -8px;
    }

    .popover-template-options div {
      cursor: pointer;
      padding: 5px;
      font-size: 14px;
    }

    .popover-template-options div:not(:last-child) {
      border-bottom: 1px solid #F2F2F2;
    }

    .popover-template-options div:first-child {
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
    }

    .popover-template-options div:last-child {
      border-bottom-left-radius: 4px;
      border-bottom-right-radius: 4px;
    }

    .popover-template-options div:hover {
      background-color: #f5f5f5;
    }
  }

  .p-activity-footer {
    margin-top: 10px;

    .p-check-all {
      padding-left: 5px;
    }
  }
}