{{{ use Models\Subscription; }}}

<div class="default-center">
	<form id="subscription-form" action="" method="POST">
		@for ($i = 1; $i < Subscription::SUBSCRIPTION_COUNT + 1; $i++)
			<div id="subscription-option-{{ $i }}" class="subscription-option">
				<label>
					<span>
						<input type="radio" name="subscriptionType" value="{{ $i }}" @if ($subscription->type == $i) checked @endif />
					</span>
					<span>
						{{ $subscription->name($i) }}
					</span>
					<span>
						@if ($subscription->defaultRate($i) == 0)
							FREE
						@else
							{{ $subscription->defaultRate($i) }}
							/ month
						@endif
					</span>
					<span>
						<table>
							<tr>
								<td>
									<i class="fa fa-group"></i>
									@if ($subscription->students($i) == -1)
										Unlimited
									@else
										{{ $subscription->students($i) }}
									@endif
									students
								</td>
							</tr>
							<tr>
								<td>
									<i class="fa fa-server"></i>
									{{ $subscription->storage($i) }}
									GB storage
								</td>
							</tr>
						</table>
					</span>
				</label>
			</div>
		@endfor
		
		<div class="payment-method">
			<label>Payment method</label>
			<select name="paymentMethod">
				<option value="1">Credit card</option>
				<option value="2">Paypal</option>
			</select>
		</div>
		
		<div class="subscription-form-submit">
			<button class="btn btn-success" type="submit">Continue</button>
		</div>
	</form>
	
	<form id="subscription-credit-card-form" action="" method="POST">
	    <div class="create-form-body">
	
	        <div class="row create-form-input-row">
	            <div class="col-md-3 create-form-label">Card number<span class="required">*</span></div>
	            <div class="col-md-9 create-form-input">
	                <div class="input-icon">
	                    <i class="fa fa-warning"></i>
	                    <input type="text" class="form-control" id="card-number" name="cardNumber" placeholder="Card Number" />
	                </div>
	                <span class="input-message">Card number is required.</span>
	            </div>
	        </div>
	
	        <div class="row create-form-input-row">
	            <div class="col-md-3 create-form-label">Expires<span class="required">*</span></div>
	            <div class="col-md-3 create-form-input">
	                <div class="input-icon">
	                    <i class="fa fa-warning"></i>
	                    <input type="text" class="form-control" id="expires" name="expires" placeholder="MM/YY" />
	                </div>
	                <span class="input-message">Expiration date is required.</span>
	                <span class="input-message">Must be numeric.</span>
	            </div>
	        </div>
	
	        <div class="row create-form-input-row">
	            <div class="col-md-3 create-form-label">Name on card<span class="required">*</span></div>
	            <div class="col-md-9 create-form-input">
	                <div class="input-icon">
	                    <i class="fa fa-warning"></i>
	                    <input type="text" class="form-control" id="card-name" name="cardName" placeholder="Name on card" />
	                </div>
	                <span class="input-message">Name on card is required.</span>
	            </div>
	        </div>
	
	        <div class="row create-form-input-row">
	            <div class="col-md-3 create-form-label">Card code<span class="required">*</span></div>
	            <div class="col-md-3 create-form-input">
	                <div class="input-icon">
	                    <i class="fa fa-warning"></i>
	                    <input type="text" class="form-control" id="card-code" name="cardCode" placeholder="CVC" />
	                </div>
	                <span class="input-message">Card code is required.</span>
	            </div>
	        </div>
	
	    </div>
	    <div class="create-form-footer">
	        <div class="col-md-7"></div>
	        <div class="col-md-5">
	            <a href="@path('School#Teacher/Activity#index')"><button class="btn btn-default" type="button">Cancel</button></a>
	            <button id="create-activity-submit-button" class="btn btn-success" type="submit">Create</button>
	        </div>
	    </div>
	</form>
	
	<form id="subscription-paypal-form">
		paypal
	</form>
</div>

<script type="text/javascript">
var subscriptionCount = parseInt('{{ Subscription::SUBSCRIPTION_COUNT }}');
if (!$.isNumeric(subscriptionCount)) {
	subscriptionCount = 4;
}
</script>
<script src="/School/Applications/School/Modules/Teacher/Account/Views/js/handleSubscription.js"></script>

<script type="text/javascript">
$(function() {
	$('#subscription-form :input[name="subscriptionType"]:checked')
		.parent().parent().parent().addClass('active');
})
	
$('.subscription-option-1').on('click', function(e) {
	removeActiveClasses();
	$('.subscription-option-1').addClass('active');
});

$('.subscription-option-2').on('click', function(e) {
	removeActiveClasses();
	$('.subscription-option-2').addClass('active');
});

$('.subscription-option-3').on('click', function(e) {
	removeActiveClasses();
	$('.subscription-option-3').addClass('active');
});

$('.subscription-option-4').on('click', function(e) {
	removeActiveClasses();
	$('.subscription-option-4').addClass('active');
});

function removeActiveClasses()
{
	for (var i = 1; i <= 4; i++)
	{
		$('.subscription-option-' + i).removeClass('active');
	}
}
</script>