{{{ use Models\Subscription; }}}

<div class="default-center">
	<form id="subscription-form" action="" method="POST">
		@for ($i = 1; $i < Subscription::SUBSCRIPTION_COUNT + 1; $i++)
			<div class="subscription-option subscription-option-{{ $i }}">
				<label>
					<span>
						<input type="radio" name="subscriptionType" value="{{ $i }}" @if ($subscription->type == $i) checked @endif />
					</span>
					<span>
						{{ $subscription->name($i) }}
					</span>
					<span>
						ds
					</span>
					<span>
						ds
					</span>
				</label>
			</div>
		@endfor
	</form>
</div>

<script type="text/javascript">
$(function() {
	$('#subscription-form :input[name="subscriptionType"]:checked')
		.parent().parent().parent().addClass('active');
})
	
$('.subscription-option-1').on('click', function(e) {
	removeActiveClasses();
	$('.subscription-option-1').addClass('active');
});

$('.subscription-option-2').on('click', function(e) {
	removeActiveClasses();
	$('.subscription-option-2').addClass('active');
});

$('.subscription-option-3').on('click', function(e) {
	removeActiveClasses();
	$('.subscription-option-3').addClass('active');
});

$('.subscription-option-4').on('click', function(e) {
	removeActiveClasses();
	$('.subscription-option-4').addClass('active');
});

function removeActiveClasses()
{
	for (var i = 1; i <= 4; i++)
	{
		$('.subscription-option-' + i).removeClass('active');
	}
}
</script>