<div class="default-center">
	<form action="" method="POST">
		<div class="subscription-option">
			<label>
				<span>
					<input type="radio" name="subscriptionType" value="1" />
				</span>
			</label>
		</div>
		<div class="subscription-option">
			<label>
				<span>
					<input type="radio" name="subscriptionType" value="1" />
				</span>
			</label>
		</div>
		<div class="subscription-option">
			<label>
				<span>
					<input type="radio" name="subscriptionType" value="1" />
				</span>
			</label>
		</div>
	</form>
</div>