<div class="modal fade" id="add-event-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <form id="add-event-form" action="" method="POST">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6 create-form-input">
                            <input id="add-event-title-input" type="text" class="form-control" placeholder="Event title">
                        </div>
                        <div class="col-md-2 checkbox">
                            <label>
                                <input id="add-event-recurring-input" type="checkbox" value="1">
                                Recurring
                            </label>
                        </div>
                        <div class="col-md-2 checkbox">
                            <label>
                                <input id="add-event-all-day-input" type="checkbox" value="1">
                                All day
                            </label>
                        </div>
                    </div>
                
                    <div id="add-event-datetime-row" class="row create-form-input-row">
                        <div class="col-md-2 create-form-label">From</div>
                        <div id="add-event-start-date" class="col-md-2 create-form-input">
                            <input id="add-event-start-date-input" class="form-control" type="text" />
                        </div>
                        <div id="add-event-start-time" class="col-md-2 create-form-input">
                            <input id="add-event-start-time-input" class="form-control" type="text" />
                        </div>
                        <div class="col-md-1 create-form-label">To</div>
                        <div id="add-event-end-date" class="col-md-2 create-form-input">
                            <input id="add-event-end-date-input" class="form-control" type="text" />
                        </div>
                        <div id="add-event-end-time" class="col-md-3 create-form-input">
                            <input id="add-event-end-time-input" class="form-control" type="text" />
                        </div>
                    </div>
                    <div id="add-event-recurring-row" class="row create-form-input-row">
                        <div class="col-md-2 create-form-label">Repeat</div>
                        <div id="add-event-recurring-repeat" class="col-md-2 create-form-input">
                            <select id="add-event-recurring-repeat-input" class="form-control">
                                <option value="daily">Daily</option>
                                <option value="weekly">Weekly</option>
                                <option value="monthly">Monthly</option>
                                <option value="yearly">Yearly</option>
                            </select>
                        </div>
                        <div class="col-md-1 create-form-label">Every</div>
                        <div id="add-event-recurring-days-every" class="col-md-2 create-form-input">
                            <select id="add-event-recurring-days-every-input" class="form-control">
                                @for ($i = 1; $i < 31; $i++)
                                    <option value="{{ $i }}">
                                        {{ $i.' ' }}
                                        @if ($i == 1)
                                            day
                                        @else
                                            days
                                        @endif
                                    </option>
                                @endfor
                            </select>
                        </div>
                        <div id="add-event-recurring-weeks-every" class="col-md-2 create-form-input">
                            <select id="add-event-recurring-weeks-every-input" class="form-control">
                                @for ($i = 1; $i < 31; $i++)
                                    <option value="{{ $i }}">
                                        {{ $i.' ' }}
                                        @if ($i == 1)
                                            week
                                        @else
                                            weeks
                                        @endif
                                    </option>
                                @endfor
                            </select>
                        </div>
                        <div id="add-event-recurring-months-every" class="col-md-2 create-form-input">
                            <select id="add-event-recurring-months-every-input" class="form-control">
                                @for ($i = 1; $i < 31; $i++)
                                    <option value="{{ $i }}">
                                        {{ $i.' ' }}
                                        @if ($i == 1)
                                            month
                                        @else
                                            months
                                        @endif
                                    </option>
                                @endfor
                            </select>
                        </div>
                        <div id="add-event-recurring-years-every" class="col-md-2 create-form-input">
                            <select id="add-event-recurring-years-every-input" class="form-control">
                                @for ($i = 1; $i < 31; $i++)
                                    <option value="{{ $i }}">
                                        {{ $i.' ' }}
                                        @if ($i == 1)
                                            year
                                        @else
                                            years
                                        @endif
                                    </option>
                                @endfor
                            </select>
                        </div>
                        <div class="create-form-label col-md-1">Ends</div>
                        <div id="add-event-recurring-ends-never" class="col-md-2 create-form-input">
                            <label><input type="radio" id="add-event-recurring-ends-never-input" name="ends" value="endsNever" checked />never</label>
                        </div>
                        <div id="add-event-recurring-ends-date" class="col-md-2 create-form-input">
                            <label><input type="radio" id="add-event-recurring-ends-date-input" name="ends" value="endsDate" />
                            <input type="text" id="add-event-recurring-ends-date-input-date" class="form-control" name="endDate" /></label>
                        </div>
                    </div>
                    <div id="add-event-description-row" class="row create-form-input-row">
                        <div class="col-md-2 create-form-label">Description</div>
                        <div id="add-event-description" class="col-md-10 create-form-input">
                            <textarea id="add-event-description-input" class="form-control" rows="3" placeholder="Description"></textarea>
                        </div>
                    </div>
                    <div id="add-event-color-row" class="row create-form-input-row">
                        <div class="col-md-2 create-form-label">Color</div>
                        <div id="add-event-color" class="col-md-10 create-form-input">
                            <input id="add-event-color-input" type="hidden" value="blue" />
                            <div id="add-event-color-blue" class="color-selected" onclick="setColor(this)" data-value="blue"></div>
                            <div id="add-event-color-lightblue" onclick="setColor(this)" data-value="lightblue"></div>
                            <div id="add-event-color-lightgreen" onclick="setColor(this)" data-value="lightgreen"></div>
                            <div id="add-event-color-green" onclick="setColor(this)" data-value="green"></div>
                            <div id="add-event-color-orange" onclick="setColor(this)" data-value="orange"></div>
                            <div id="add-event-color-pink" onclick="setColor(this)" data-value="pink"></div>
                            <div id="add-event-color-red" onclick="setColor(this)" data-value="red"></div>
                            <div id="add-event-color-violet" onclick="setColor(this)" data-value="violet"></div>
                        </div>
                    </div>
                    <div id="add-event-more-options" class="row">
                        <a href="javascript:;" onclick="handleMoreOptions()" >More options</a>
                        <i class="fa fa-caret-right"></i>
                    </div>
                    <div id="add-event-more-options-container">
                        <div id="add-event-location-row" class="row create-form-row">
                            <div class="col-md-2 create-form-label">Location</div>
                            <div id="add-event-location" class="col-md-10 create-form-input">
                                <input id="add-event-location-input" type="text" class="form-control" placeholder="Location" />
                            </div>
                        </div>
                        <div id="add-event-visibility-row" class="row create-form-row">
                            <div class="col-md-2 create-form-label">Visibility</div>
                            <div id="add-event-visibility" class="col-md-10 create-form-input">
                                <label class="radio-inline"><input type="radio" name="visibility" value="private" id="add-event-visibility-input-private" checked />
                                private</label>
                                <label class="radio-inline"><input type="radio" name="visibility" value="public" id="add-event-visibility-input-public" />
                                public</label>
                            </div>
                        </div>
                        <div id="add-event-students-row" class="row create-form-row">
                            <div class="col-md-2 create-form-label">Students</div>
                            <div id="add-event-students" class="col-md-10 create-form-input">
                                <select id="add-event-students-input" class="js-example-basic-multiple form-control" multiple="multiple">
                                    @foreach ($students as $student)
                                        <option value="{{ $student->id }}" data-picture="{{ $student->profile_picture }}">{{ $student->name() }}</option>
                                    @endforeach
                                </select>
                            </div>
                        </div>
                        <div id="add-event-activity-row" class="row create-form-row">
                            <div class="col-md-2 create-form-label">Activity</div>
                            <div id="add-event-activity" class="col-md-4 create-form-input">
                                <select id="add-event-activity-input" class="form-control" name="activityId">
                                    <option value="0" selected>None</option>
                                    @foreach ($activities as $activity)
                                        <option value="{{ $activity->id }}">{{ $activity->name }}</option>
                                    @endforeach
                                </select>
                            </div>
                        </div>
                        <div id="add-event-notify-me-row" class="row create-form-row">
                            <div class="col-md-2 create-form-label">Notify me</div>
                            <div id="add-event-notify-me-by" class="col-md-4 create-form-input">
                                <select id="add-event-notify-me-by-input" class="form-control">
                                    <option value="never">Never</option>
                                    <option value="email">By email</option>
                                </select>
                            </div>
                            <div id="add-event-notify-me-before" class="col-md-4 create-form-input">
                                <select id="add-event-notify-me-before-input" class="form-control">
                                    <option value="0">When event starts</option>
                                    <option value="5">5 mins before</option>
                                    <option value="10">10 mins before</option>
                                    <option value="15" selected>15 mins before</option>
                                    <option value="30">30 mins before</option>
                                    <option value="45">45 mins before</option>
                                    @for ($i = 1; $i < 25; $i++)
                                        <option value="{{ ($i * 60) }}">{{ $i }} hour before</option>
                                    @endfor
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                    
                <div class="modal-footer">
                    <span id="add-event-error"></span>
                    <button type="button" class="btn btn-default" data-dismiss="modal">
                        Cancel
                    </button>
                    <button id="add-event-modal-create-button" type="button" class="btn btn-success">
                        Create event
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(function() {
        handleRecurringCheckbox();
        handleAllDayCheckbox();
        handleRecurringRepeatInput();
        handleNotifyMeByChanged();
        
        $('#add-event-recurring-input').on('change', function() {
            handleRecurringCheckbox();
        });
        
        $('#add-event-all-day-input').on('change', function() {
            handleAllDayCheckbox();
        });
        
        $('#add-event-recurring-repeat-input').on('change', function() {
            handleRecurringRepeatInput();
        });
        
        $('#add-event-start-time-input').on('change', function() {
            handleStartTimeChanged();
        });
        
        $('#add-event-notify-me-by').on('change', function() {
            handleNotifyMeByChanged();
        });
        
        $('#add-event-modal-create-button').on('click', function() {
            submitAddEventForm();
        });
        
        $('#add-event-start-date-input').datepicker();
        $('#add-event-end-date-input').datepicker();
        $('#add-event-recurring-ends-date-input-date').datepicker();
        $('#add-event-start-time-input').timepicker();
        $('#add-event-end-time-input').timepicker({
            'minTime': '1:00pm', 
            'showDuration': true    
        });
    });
    
    function handleRecurringCheckbox() {
        if ($('#add-event-recurring-input').is(':checked')) {
            $('#add-event-recurring-row').show();
            return;
        }
        
        $('#add-event-recurring-row').hide();
    }
    
    function handleAllDayCheckbox() {
        if ($('#add-event-all-day-input').is(':checked')) {
            $('#add-event-start-time').hide();
            $('#add-event-end-time').hide();
            return;
        }
        
        $('#add-event-start-time').show();
        $('#add-event-end-time').show();
    }
    
    function handleRecurringRepeatInput() {
        if ($('#add-event-recurring-repeat-input').val() == 'daily') {
            $('#add-event-recurring-weeks-every').hide();
            $('#add-event-recurring-months-every').hide();
            $('#add-event-recurring-years-every').hide();
            $('#add-event-recurring-days-every').show();
        } else if ($('#add-event-recurring-repeat-input').val() == 'weekly') {
            $('#add-event-recurring-days-every').hide();
            $('#add-event-recurring-months-every').hide();
            $('#add-event-recurring-years-every').hide();
            $('#add-event-recurring-weeks-every').show();
        } else if ($('#add-event-recurring-repeat-input').val() == 'monthly') {
            $('#add-event-recurring-days-every').hide();
            $('#add-event-recurring-weeks-every').hide();
            $('#add-event-recurring-years-every').hide();
            $('#add-event-recurring-months-every').show();
        } else if ($('#add-event-recurring-repeat-input').val() == 'yearly') {
            $('#add-event-recurring-days-every').hide();
            $('#add-event-recurring-weeks-every').hide();
            $('#add-event-recurring-months-every').hide();
            $('#add-event-recurring-years-every').show();
        }
    }
    
    function handleStartTimeChanged() {
        var startTimeString = $('#add-event-start-time-input').val();
        $('#add-event-end-time-input').timepicker('option', 'minTime', startTimeString);
        
        var startTime = $('#add-event-start-time-input').timepicker('getTime');
        var endTime = $('#add-event-end-time-input').timepicker('getTime');
        if (startTime > endTime) {
            $('#add-event-end-time-input').timepicker('setTime', startTime);
        }

        $('#add-event-end-time-input').next('select').addClass('form-control');
    }
    
    function setColor(e) {
        $('#add-event-color div').removeClass('color-selected');
        $(e).addClass('color-selected');
        $('#add-event-color-input').val($(e).data('value'));
    }
    
    function handleMoreOptions() {
        if ($('#add-event-more-options-container').is(':visible')) {
            $('#add-event-more-options-container').slideUp('fast');
            $('#add-event-more-options i').removeClass('fa-caret-down').addClass('fa-caret-right');
        } else {
            $('#add-event-more-options-container').slideDown('fast');
            $('#add-event-more-options i').removeClass('fa-caret-right').addClass('fa-caret-down');
        }
    }
    
    function handleNotifyMeByChanged() {
        if ($('#add-event-notify-me-by-input').val() == 'never') {
            $('#add-event-notify-me-before').hide();
            return;
        }
        
        $('#add-event-notify-me-before').show();
    }
    
    /* AJAX REQUEST */
    
    function submitAddEventForm() {
        var title = $('#add-event-title-input').val();
        var startDate = $('#add-event-start-date-input').val();
        var endDate = $('#add-event-end-date-input').val();
        var isAllDay = $('#add-event-all-day-input').is(':checked') ? 1 : 0;
        var startTime = $('#add-event-start-time-input').val();
        var endTime = $('#add-event-end-time-input').val();
        var isRecurring = $('#add-event-recurring-input').is(':checked') ? 1 : 0;
        var recurringRepeat = $('#add-event-recurring-repeat-input').val();
        var recurringEvery = 'undefined';
        if (recurringRepeat == 'daily') {
            recurringEvery = $('#add-event-recurring-days-every-input').val();
        } else if (recurringRepeat == 'weekly') {
            recurringEvery = $('#add-event-recurring-weeks-every-input').val();
        } else if (recurringRepeat == 'monthly') {
            recurringEvery = $('#add-event-recurring-months-every-input').val();
        } else if (recurringRepeat == 'yearly') {
            recurringEvery = $('#add-event-recurring-years-every-input').val();
        }
        var isRecurringEndsNever = $('#add-event-recurring-ends-never-input').is(':checked') ? 1 : 0;
        var recurringEndDate = $('#add-event-recurring-ends-date-input-date').val();
        var description = $('#add-event-description-input').val();
        var color = $('#add-event-color-input').val();
        var location = $('#add-event-location-input').val();
        var visibility = 'private';
        if ($('#add-event-visibility-input-public').is(':checked')) {
            visibility = 'public';
        }
        var studentIds = $('#add-event-students-input').select2('val');
        var activityId = $('#add-event-activity-input').val();
        var notifyMeBy = $('#add-event-notify-me-by-input').val();
        var notifyMeBefore = $('#add-event-notify-me-before-input').val();

        // Validation

        if (new Date(endDate) < new Date(startDate)) {
            $('#add-event-error').html("End date cannot be smaller than start date.");
            $('#add-event-error').show();
            return false;
        }

        $('#add-event-error').hide();

        // Ajax request

        var ajaxResult = null;
        $.ajax({
            async: false, 
            type: 'POST', 
            url: '/school/teacher/ajax/add-event', 
            datatype: 'html', 
            data: {
                title: title, 
                startDate: startDate, 
                endDate: endDate, 
                isAllDay: isAllDay, 
                startTime: startTime, 
                endTime: endTime, 
                isRecurring: isRecurring, 
                recurringRepeat: recurringRepeat, 
                recurringEvery: recurringEvery, 
                isRecurringEndsNever: isRecurringEndsNever, 
                recurringEndDate: recurringEndDate, 
                description: description,
                color: color, 
                location: location, 
                visibility: visibility,
                studentIds: studentIds,
                activityId: activityId,
                notifyMeBy: notifyMeBy,
                notifyMeBefore: notifyMeBefore
            }, 
            success: function(result) {
                ajaxResult = result;
            }
        });

        $('#add-event-modal').modal('hide');
    }
</script>