<form id="profile-picture-form" enctype="multipart/form-data" action="/School/school/teacher/account/edit-profile-picture" method="POST">
    <input type="hidden" name="_method" value="PUT" />
	<span class="btn btn-default btn-file">
        @if ($currentUser->hasProfilePicture())
            <img id="profile-picture-preview" src="{{ $currentUser->profile_picture }}" width="200" />
        @else
            <img id="profile-picture-preview" width="200" />
        @endif
		<input id="profile-picture-input" type="file" name="profilePicture" />
	</span>
	<button type="submit">Upload</button>
</form>

<script type="text/javascript">
function readURL(input) {
    if (input.files && input.files[0]) {
        var reader = new FileReader();
        
        reader.onload = function (e) {
            $('#profile-picture-preview').attr('src', e.target.result);
        }
        
        reader.readAsDataURL(input.files[0]);
    }
}

$("#profile-picture-input").change(function(){
    readURL(this);
});
</script>