@layout('frontend.layout')

@inject('Library\Http\Form')

@section('content')

<div id="student-registration" class="default-center">
    <h2>Welcome to instructioner</h2>
    <h3>
        You have been invited by {{ $teacherName }} <br />
        to register as a student for {{ $activityName }}
    </h3>

    {!! $form->open('frontend.student.register', 'POST', ['id' => 'register-student-form', 'class' => 'form-1']) !!}

    {!! $form->hidden('tempStudentId', $tempStudentId) !!}

    <div class="form-title">
        Personal information
    </div>

    @foreach ($registrationForm['requiredFields'] as $field)
        <div class="form-row">
            {!! $form->label($field['name'], $field['displayName']) !!}
            @if ($field['name'] == 'firstName')
                {!! $form->text($field['name'], $firstName, ['placeholder' => $field['displayName']]) !!}
            @elseif ($field['name'] == 'lastName')
                {!! $form->text($field['name'], $lastName, ['placeholder' => $field['displayName']]) !!}
            @endif
        </div>
    @endforeach

    @foreach ($registrationForm['fields'] as $field)
        @if ($field['active'] == true)
            @if ($field['name'] == 'address')
                <div class="form-title">
                    Address
                </div>
                <div class="form-row">
                    {!! $form->label('address', 'Street') !!}
                    {!! $form->text('address', null, ['placeholder' => 'Street']) !!}
                </div>
                <div class="form-row">
                    {!! $form->label('city', 'City') !!}
                    {!! $form->text('city', null, ['placeholder' => 'City']) !!}
                </div>
                <div class="form-row">
                    {!! $form->label('country', 'Country') !!}
                    {!! $form->text('country', null, ['placeholder' => 'Country']) !!}
                </div>
            @elseif ($field['name'] == 'gender')
                <div class="form-row row-gender">
                    <label>Gender</label>
                    <label class="radio-label">Male
                        <input type="radio" name="gender" value="male" />
                        <i class="radio-icon"></i>
                    </label>
                    <label class="radio-label">Female
                        <input type="radio" name="gender" value="female" />
                        <i class="radio-icon"></i>
                    </label>
                </div>
                @elseif ($field['name'] == 'dateOfBirth')
                <div class="form-row row-date-of-birth">
                    <label>Date of birth</label>
                    <datepicker name="dateOfBirth" placeholder="yyyy-mm-dd"></datepicker>
                </div>
                @else
                <div class="form-row">
                    {!! $form->label($field['name'], $field['displayName']) !!}
                    {!! $form->text($field['name'], null, ['placeholder' => $field['displayName']]) !!}
                </div>
            @endif
        @endif
    @endforeach

    @if (sizeof($registrationForm['extraFields']) > 0)
        <div class="form-title">
            Other
        </div>
    @endif
    @foreach ($registrationForm['extraFields'] as $field)
        <div class="form-row">
            {!! $form->label($field['name'], $field['displayName']) !!}
            {!! $form->text($field['name'], null, ['placeholder' => $field['displayName']]) !!}
        </div>
    @endforeach

    @if ($hasAccount)
        <div class="form-title">
            Account password
        </div>

        <div class="form-row">
            {!! $form->label('password', 'Password') !!}
            {!! $form->password('password', null, ['placeholder' => 'Password']) !!}
        </div>
        <div class="form-row">
            {!! $form->label('confirmPassword', 'Confirm') !!}
            {!! $form->password('confirmPassword', null, ['placeholder' => 'Confirm password']) !!}
        </div>
    @endif

    <div class="form-buttons">
        <button type="submit" class="button-green">Register</button>
    </div>

    {!! $form->close() !!}
</div>

@stop()
