<div class="panel-1">
    <div class="panel-title">Create an activity</div>

    <form action="" class="form-1" [ngFormModel]="form" (ngSubmit)="onSubmit()">

        <div class="form-row">
            <label for="name">Name</label>
            <input type="text" id="name" name="name" placeholder="Name"
                   #name="ngForm" [ngFormControl]="form.controls.name"
                   [class.invalid]="!form.find('name').valid && form.find('name').touched"
                   [class.valid]="form.find('name').valid && form.find('name').touched" />
            <div *ngIf="name.control.hasError('required') && name.control.touched" class="form-error">name is required</div>
        </div>

        <div class="form-row">
            <label for="rate">Rate</label>
            <input type="text" id="rate" name="rate" placeholder="Rate"
                   #rate="ngForm" [ngFormControl]="form.controls.rate"
                   [class.invalid]="!form.find('rate').valid && form.find('rate').touched"
                   [class.valid]="form.find('rate').valid && form.find('rate').touched" />
            <div *ngIf="rate.control.hasError('required') && rate.control.touched" class="form-error">rate is required</div>
        </div>

        <div class="form-row">
            <label for="period">Period</label>
            <select id="period" name="period" [ngFormControl]="form.controls.period">
                <option *ngFor="#period of periods" [value]="period.value">{{ period.display }}</option>
            </select>
        </div>

        <div class="form-row">
            <label for="location">Location</label>
            <input type="text" id="location" name="location" placeholder="Location"
                   [ngFormControl]="form.controls.location" />
        </div>

        <div class="form-buttons">
            <div class="checkbox-1">
                <label>
                    <input type="checkbox" [(ngModel)]="createAnother" />
                    <i></i>Create another
                </label>
            </div>

            <button type="submit" class="button-green button-large" [class.disabled]="!form.valid || !submitEnabled">Create</button>
        </div>

    </form>
</div>