@layout('../layout')

@section('content')

@inject('\Library\Facades\Form')

<div class="emailConfirmation">

    {{ Form::open('Frontend#Account#completeRegistration', 'POST', ['id' => 'confirm-form', 'class' => 'custom-1']) }}

    {{ Form::hidden('tempTeacherId', $tempTeacher->id) }}

    <div class="g-form-header">
        Complete registration
    </div>

    <div class="g-form-body">

        <div class="form-row">
            {{ Form::label('name', 'Name') }}
            <div class="g-form-input g-form-text">{{ $tempTeacher->name() }}</div>
        </div>

        <div class="form-row">
            {{ Form::label('password', 'Create password', ['class' => 'required']) }}
            {{ Form::password('password') }}
            {{ Form::error('password') }}
        </div>

        <div class="form-row">
            {{ Form::label('confirmPassword', 'Confirm password', ['class' => 'required']) }}
            {{ Form::password('confirmPassword') }}
            {{ Form::error('confirmPassword') }}
        </div>

    </div>

    <div class="g-form-footer">
        {{ Form::button('Finish and login', ['type' => 'submit']) }}
    </div>

    {{ Form::close() }}

</div>

<script type="text/javascript">
$('#confirm-form').validate({
    password: [
        {rule: 'required'}
    ],
    confirmPassword: [
        {rule: 'required', message: 'confirmation is required'},
        {rule: 'equalsField:password', message: 'passwords don\'t match'}
    ]
});
</script>

@stop()