@layout('frontend.layout')

@section('content')

@inject('\Library\Http\Form')

<div class="emailConfirmation">

    {!! $form->open('frontend.account.registerTeacher', 'POST', ['id' => 'confirm-form', 'class' => 'form-fe-1']) !!}

    {!! $form->hidden('tempTeacherId', $tempTeacher->getId()) !!}

    <div class="form-title">
        Complete registration
    </div>

    <div class="form-row">
        {!! $form->label('name', 'Name') !!}
        <div class="g-form-input g-form-text">{{ $tempTeacher->name() }}</div>
    </div>

    <div class="form-row">
        {!! $form->label('password', 'Create password', ['class' => 'required']) !!}
        {!! $form->password('password') !!}
        {!! $form->error('password') !!}
    </div>

    <div class="form-row">
        {!! $form->label('confirmPassword', 'Confirm password', ['class' => 'required']) !!}
        {!! $form->password('confirmPassword') !!}
        {!! $form->error('confirmPassword') !!}
    </div>

    <div class="form-button">
        {!! $form->button('Finish and login', ['type' => 'submit']) !!}
    </div>

    {!! $form->close() !!}

</div>

<script type="text/javascript">
$('#confirm-form').validate({
    password: [
        {rule: 'required'}
    ],
    confirmPassword: [
        {rule: 'required', message: 'confirmation is required'},
        {rule: 'equalsField:password', message: 'passwords don\'t match'}
    ]
});
</script>

@stop()