@layout('../layout')

@section('content')

@inject('\Library\Facades\Form')

<div class="login">

    {{ Form::open('', 'POST', ['id' => 'login-form', 'class' => 'custom-1']) }}

    <div class="g-form-header">
        Login
    </div>

    <div class="g-form-body">

        <div class="form-row">
            {{ Form::label('email', 'Email') }}
            {{ Form::text('email', null, ['placeholder' => 'Email']) }}
            {{ Form::error('email') }}
        </div>

        <div class="form-row">
            {{ Form::label('password', 'Password') }}
            {{ Form::password('password') }}
            {{ Form::error('password') }}
        </div>

        <div class="forgot-password-row">
            Forgot your password?
            <a href="/account/reset-password">Click here</a>
        </div>

        <div class="create-account-row">
            Don't have an account yet?<br />
            <a href="/account/signup">Create an account</a>
        </div>

    </div>

    <div class="g-form-footer">

        {{ Form::button('Login', ['type' => 'submit']) }}

    </div>

    {{ Form::close() }}

</div>

<script type="text/javascript">
$('#login-form').validate({
    email: [
        {rule: 'required'},
        {rule: 'email'}
    ],
    password: [
        {rule: 'required'}
    ]
});
</script>

@stop()