@layout('frontend.layout')

@section('content')

@inject('\Library\Http\Form')

<div class="login">

    {!! $form->open('', 'POST', ['id' => 'login-form', 'class' => 'custom-1']) !!}

    <div class="g-form-header">
        Login
    </div>

    <div class="g-form-body">

        <div class="form-row">
            {!! $form->label('email', 'Email') !!}
            {!! $form->text('email', null, ['placeholder' => 'Email']) !!}
            {!! $form->error('email') !!}
        </div>

        <div class="form-row">
            {!! $form->label('password', 'Password') !!}
            {!! $form->password('password') !!}
            {!! $form->error('password') !!}
        </div>

        <div class="forgot-password-row">
            Forgot your password?
            <a href="/account/reset-password">Click here</a>
        </div>

        <div class="create-account-row">
            Don't have an account yet?<br />
            <a href="/account/signup">Create an account</a>
        </div>

    </div>

    <div class="g-form-footer">

        {!! $form->button('Login', ['type' => 'submit']) !!}

    </div>

    {!! $form->close() !!}

</div>

<script type="text/javascript">
$('#login-form').validate({
    email: [
        {rule: 'required'},
        {rule: 'email'}
    ],
    password: [
        {rule: 'required'}
    ]
});
</script>

@stop()