@layout('frontend.layout')

@section('content')

<div class="reset-password">
    <p class="above-text">
        If you have forgotten you password,
        it will need to be reset.<br />
    </p>
    <form id="reset-password-form" action="" method="POST">
        <div class="g-form-input-row">
            <div class="g-form-input">
                <div class="input-icon">
                    <i class="fa fa-warning"></i>
                    <input type="email" id="email" name="email" placeholder="Email" />
                </div>
                <span class="input-message">Email is required.</span>
            </div>
        </div>

        <button type="submit">Reset</button>
    </form>
    <p class="below-text">
        If you are still having trouble logging in,
        please contact our customer support at <b>514-514-5145</b>.
    </p>
    <p id="reset-validation-message">
        Reset password request email was sent successfully.<br />
        Please check your inbox for further instructions.
    </p>
</div>

<script src="/Applications/Frontend/Modules/Account/Views/js/resetPasswordValidation.js"></script>

@stop()