@layout('frontend.layout')

@section('content')

@inject('\Library\Facades\Form')

<div class="memberships">

    @for ($i = 0; $i < sizeof($subscriptions); $i++)
        <div class="membership membership{!! $i + 1 !!} @if ($i == 0) active @endif ">
            <div class="membership-header">
                {!! $subscriptions[$i]['name'] !!}
            </div>
            <div class="membership-body">
                <div class="membership-pricing">{!! $subscriptions[$i]['price'] !!}</div>
                <div class="membership-description">
                    <table>
                        <tr>
                            <td><i class="fa fa-users"></i></td>
                            <td>Students:</td>
                            <td>{!! $subscriptions[$i]['numStudents'] !!}</td>
                        </tr>
                        <tr>
                            <td><i class="fa fa-server"></i></td>
                            <td>Storage space:</td>
                            <td>{!! $subscriptions[$i]['storageSpace'] !!}</td>
                        </tr>
                        <tr>
                            <td><i class="fa fa-lock"></i></td>
                            <td>SSL encryption:</td>
                            <td>Yes</td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="membership-footer">
                <a href="#" onclick="selectSubscription({!! $i + 1 !!});return false;">
                    <button type="button">Select</button>
                </a>
            </div>
        </div>
    @endfor
</div>

<div class="signup">

    {!! Form::open('', 'POST', ['id' => 'signup-form', 'class' => 'custom-1']) !!}

    {!! Form::hidden('subscriptionType', '1') !!}

    <div class="g-form-header">
        Sign up
    </div>

    <div class="g-form-body">

        <div class="form-row">
            {!! Form::label('firstName', 'First name', ['class' => 'required']) !!}
            {!! Form::text('firstName', null, ['placeholder' => 'First name']) !!}
            {!! Form::error('firstName') !!}
        </div>

        <div class="form-row">
            {!! Form::label('lastName', 'Last name', ['class' => 'required']) !!}
            {!! Form::text('lastName', null, ['placeholder' => 'Last name']) !!}
            {!! Form::error('lastName') !!}
        </div>

        <div class="form-row">
            {!! Form::label('email', 'Email', ['class' => 'required']) !!}
            {!! Form::text('email', null, ['placeholder' => 'Email']) !!}
            {!! Form::error('email') !!}
        </div>

    </div>

    <div class="g-form-footer">
        {!! Form::button('Sign up', ['type' => 'submit']) !!}
    </div>

    {!! Form::close() !!}

</div>

<script type="text/javascript">
var currentSubscription = 1;

function selectSubscription(subscriptionNumber) {
    if (subscriptionNumber < 1 || subscriptionNumber > 4) {
        subscriptionNumber = 1;
    }

    $('.membership' + currentSubscription).removeClass('active');
    currentSubscription = subscriptionNumber;
    $('.membership' + currentSubscription).addClass('active');

    $('#subscription').val(currentSubscription);
}

$('#signup-form').validate({
    firstName: [
        {rule: 'required', message: 'first name is required'}
    ],
    lastName: [
        {rule: 'required', message: 'last name is required'}
    ],
    email: [
        {rule: 'required'},
        {rule: 'email'},
        {rule: 'unique:Teacher,email'},
        {rule: 'unique:Student,email'},
        {rule: 'unique:TempTeacher,email'}
    ]
});
</script>

@stop()