@layout('frontend.layout')

@section('content')

@inject('\Library\Http\Form')

<div id="signup">

    {!! $form->open('', 'POST', ['id' => 'signup-form', 'class' => 'form-fe-1']) !!}

    {!! $form->hidden('subscriptionType', '1') !!}

    <div class="form-title">
        Sign up
    </div>

    <div class="form-row">
        {!! $form->label('firstName', 'First name', ['class' => 'required']) !!}
        {!! $form->text('firstName', null, ['placeholder' => 'First name']) !!}
        {!! $form->error('firstName') !!}
    </div>

    <div class="form-row">
        {!! $form->label('lastName', 'Last name', ['class' => 'required']) !!}
        {!! $form->text('lastName', null, ['placeholder' => 'Last name']) !!}
        {!! $form->error('lastName') !!}
    </div>

    <div class="form-row">
        {!! $form->label('email', 'Email', ['class' => 'required']) !!}
        {!! $form->text('email', null, ['placeholder' => 'Email']) !!}
        {!! $form->error('email') !!}
    </div>

    <div class="form-button">
        {!! $form->button('Sign up', ['type' => 'submit']) !!}
    </div>

    {!! $form->close() !!}

</div>

@stop()

@section('javascript')

<script type="text/javascript">
$('#signup-form').validate({
    firstName: [
        {rule: 'required', message: 'first name is required'}
    ],
    lastName: [
        {rule: 'required', message: 'last name is required'}
    ],
    email: [
        {rule: 'required'},
        {rule: 'email'},
        {rule: 'unique:Teacher,email'},
        {rule: 'unique:Student,email'},
        {rule: 'unique:TempTeacher,email'}
    ]
});
</script>

@stop()