@layout('school.layout')

@section('content')

<div class="main-title">
    Students
</div>

<div class="content-padding">
    <div class="panel-1">
        <div class="data-table-1">
            <div class="header">
                <div class="title">
                    New students
                </div>
                <div class="filter" v-if="newStudentsOpen">
                    <label>
                        <span>Filter:</span>
                        <input type="text" v-model="mainFilter" placeholder="Type to filter..." />
                    </label>
                </div>
                <div
                        class="collapse-table-button"
                        :class="[newStudentsOpen ? 'open' : 'closed']"
                        @click="newStudentsOpen = !newStudentsOpen"
                ></div>
            </div>
            <div class="table" v-if="newStudentsOpen">
                <table cellspacing="0">
                    <tr>
                        <th>First name</th>
                        <th>Last name</th>
                        <th>Email</th>
                        <th>Activity</th>
                        <th>Status</th>
                    </tr>
                    <tr v-for="student in newStudents | filterBy mainFilter">
                        <td>@{{ student.firstName == '' ? 'n/a' : student.firstName }}</td>
                        <td>@{{ student.lastName == '' ? 'n/a' : student.lastName }}</td>
                        <td>@{{ student.email }}</td>
                        <td>@{{ student.activityName }}</td>
                        <td :class="[student.status]"><span>@{{ student.status }}</span></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>

@stop()