<div class="switcher-2">
    <ul>
        <li class="@if (currentRoute() == 'school.teacher.student.show') active @endif ">
            <a href="/school/teacher/students/{{ $student->getId() }}"><i class="fa fa-user"></i>Profile</a>
        </li>
        <li class="@if (currentRoute() == 'school.teacher.student.test') active @endif ">
            <a href="/school/teacher/students/{{ $student->getId() }}"><i class="fa fa-cogs"></i>Activity</a>
        </li>
        <li class="@if (currentRoute() == 'school.teacher.student.test') active @endif ">
            <a href="/school/teacher/students/{{ $student->getId() }}"><i class="fa fa-envelope"></i>Messages</a>
        </li>
    </ul>
</div>