<div class="row data-table">
    <div class="col-md-12">
        <div class="data-table-header">
            <span class="data-table-header-title">Students ({{ $students->count() }})</span>
            <span class="data-table-header-search">
                <form role="search">
                    <input type="text" id="table-search" placeholder="Search" />
                </form>
            </span>
        </div>
    </div>
    <div class="col-md-12">
        <div class="data-table-body table-responsive">
            <table id="student-table" class="table-hover sortable">
                <thead>
                <tr>
                    <th width="25%">Name</th>
                    <th width="25%">Email</th>
                    <th width="20%">Phone #</th>
                    <th width="20%">Added</th>
                    <th width="10%" class="sorttable_nosort"></th>
                </tr>
                </thead>
                <tbody>
                @foreach ($students as $student)
                <tr>
                    <td>{{ $student->name() }}</td>
                    <td>{{ $student->email }}</td>
                    <td>{{ $student->phone }}</td>
                    <td>{{ $student->created_at }}</td>
                    <td>
                        <span class="data-table-action">
                                <a onclick="return showEditModal(this)">
                                    <form id="edit-form" action="@path('School#Teacher/Student#update')" method="POST">
                                        <input type="hidden" name="_method" value="PUT" />
                                        <input type="hidden" name="studentId" value="{{ $student->id }}" />
                                        <input type="hidden" name="firstName" value="{{ $student->first_name }}" />
                                        <input type="hidden" name="lastName" value="{{ $student->last_name }}" />
                                    </form>
                                    <img src="/Resources/Assets/images/icons/edit.png" width="20" height="20" />
                                </a>
                            </span>
                        <span class="data-table-action">
                            <a onclick="return showConfirmModal(this)">
                                <form id="delete-form" action="@path('School#Teacher/Student#destroy')" method="POST">
                                    <input type="hidden" name="_method" value="DELETE" />
                                    <input type="hidden" name="studentId" value="{{ $student->id }}" />
                                </form>
                                <img src="/Resources/Assets/images/icons/delete.png" width="20" height="20" />
                            </a>
                        </span>
                    </td>
                </tr>
                @endforeach
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="modal fade" id="confirm-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                Confirm delete
            </div>
            <div class="modal-body">
                Deleting a <b>student</b> will also remove all associated events.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    Cancel
                </button>
                <button type="button" class="btn btn-danger" onclick="confirmCallBack()">
                    Delete
                </button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="edit-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                Edit Student
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="row create-form-input-row">
                        <div class="col-md-4 create-form-label">First name<span class="required">*</span></div>
                        <div class="col-md-7 create-form-input">
                            <div class="input-icon">
                                <i class="fa fa-warning"></i>
                                <input type="text" class="form-control" id="edit-modal-firstName" />
                            </div>
                            <span class="input-message">First name is required.</span>
                        </div>
                        <div class="col-md-1"></div>
                    </div>

                    <div class="row create-form-input-row">
                        <div class="col-md-4 create-form-label">Last name<span class="required">*</span></div>
                        <div class="col-md-7 create-form-input">
                            <div class="input-icon">
                                <i class="fa fa-warning"></i>
                                <input type="text" class="form-control" id="edit-modal-lastName" />
                            </div>
                            <span class="input-message">Last name is required.</span>
                        </div>
                        <div class="col-md-1"></div>
                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    Cancel
                </button>
                <button id="edit-modal-save-button" type="button" class="btn btn-success">
                    Save changes
                </button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="/Applications/Modules/Teacher/Student/Views/js/editStudentValidation.js"></script>
<script type="text/javascript" src="/Resources/Assets/js/sorttable/sorttable.js"></script>

<script>
var currentForm = '';

function showConfirmModal(e) {
    currentForm = e.children[0];

    $('#confirm-modal').modal('show');
    return false;
}

function confirmCallBack() {
    currentForm.submit();
}

$('#table-search').keyup(function() {
    var value = this.value;

    $('#student-table').find('tr').each(function(index) {
        if (index === 0) return;
        var id = $(this).find('td').first().text();
        $(this).toggle(id.toLowerCase().indexOf(value.toLowerCase()) !== -1);
    });
});

function showEditModal(e) {
    currentForm = e.children[0];
    var editModal = $('#edit-modal');

    editModal.find('input').removeClass('valid').removeClass('invalid');
    editModal.find('input').parent().removeClass('show');
    editModal.find('input').parent().nextAll('span').removeClass('show');

    $('#edit-modal-firstName').val(currentForm.elements['firstName'].value);
    $('#edit-modal-lastName').val(currentForm.elements['lastName'].value);

    editModal.modal('show');
    return false;
}

function editCallBack() {
    currentForm.elements['firstName'].value = $('#edit-modal-firstName').val();
    currentForm.elements['lastName'].value = $('#edit-modal-lastName').val();

    currentForm.submit();
}
</script>
