#monthly-calendar {
  .header {
    display: flex;
    align-items: center;
    height: 60px;
    padding: 0 10px;

    button {
      height: 35px;
      width: 80px;
      border: 1px solid #cccccc;
      background: #fff;
      font-size: 12px;
      font-weight: 600;
      line-height: 35px;
    }

    button:disabled {
      cursor: not-allowed !important;
      background-color: #f2f2f2;
    }

    button:hover {
      background-color: #f2f2f2;
      cursor: pointer;
    }

    .navigation {
      flex-basis: 35%;
      display: flex;

      button {
        margin-right: 5px;
        width: 35px;
      }
      button.today { width: 60px; }
    }

    .display {
      flex-basis: 30%;
      text-align: center;
      font-size: 14px;
      font-weight: 600;
    }

    .mode {
      flex-basis: 35%;
      justify-content: flex-end;
      display: flex;

      > button {
        margin-left: 5px;
      }

      .cancel-availability-mode-button,
      .save-availability-mode-button {
        color: #fff;
      }

      .cancel-availability-mode-button {
        background-color: #a94442;
      }

      .save-availability-mode-button {
        background-color: #67b168;
        width: 120px;
      }

      .calendar-options {
        z-index: 100;
        margin-left: 5px;
        width: 35px;
        height: 35px;
        background-color: #fff;
        border: 1px solid #cccccc;
        padding: 0;

        a { cursor: pointer; }

        > i {
          color: #444;
          height: 35px;
          width: 35px;
          line-height: 35px;
          font-size: 22px;
          text-align: center;
        }

        .arrow-box {
          border-color: #b3b3b3;
        }
      }

      .calendar-options:hover {
        background-color: #f2f2f2;
      }
    }
  }

  .body {
    padding: 0 10px 10px 10px;

    table {
      border-collapse: collapse;
      width: 100%;
      table-layout: fixed;
    }
  }

  #month-view.body {
    table {
      tr {
        th, td {
          border: 1px solid #ddd;
          background-color: white;
        }

        th {
          height: 50px;
          font-size: 13px;
          border-bottom: 1px solid #26a69a;
        }

        td:hover {
          .top .add { opacity: 1; }
        }

        td {
          height: 125px;

          .top {
            height: 25px;
            font-size: 12px;
            margin: 0 3px;
            display: flex;
            align-items: center;
            justify-content: space-between;

            .date-number.faded {
              color: #808080;
            }

            .add {
              font-size: 20px;
              opacity: 0;
              cursor: pointer;

              i { color: #26a69a; }
            }
          }

          .events {
            height: 100px;
            display: flex;
            flex-direction: column;

            .event-wrapper .event, .extra-events {
              display: flex;
              align-items: center;
              justify-content: center;
              font-weight: 600;
              font-size: 12px;
              cursor: pointer;
            }

            .extra-events {
              flex-basis: 25px;
              margin-bottom: 1px;
            }

            .event-wrapper {
              flex-basis: 25px;
              position: relative;
              margin-bottom: 1px;

              .event {
                height: 100%;
                background-color: #26a69a;
                color: #fff;
              }

              .event.event-teal { background-color: #26a69a; }
              .event.event-green { background-color: #67b168; }
              .event.event-orange { background-color: #ff8433; }
              .event.event-blue { background-color: #5c5cd6; }
              .event.event-light-blue { background-color: #99ccff; }
              .event.event-golden { background-color: #e6b700; }
              .event.event-red { background-color: #ff5050; }
              .event.event-purple { background-color: #d147a3; }

              .event-popover {
                position: absolute;
                box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.4);
                border-radius: 3px;
                width: 320px;
                bottom: 32px;
                left: 50%;
                margin-left: -160px;
                z-index: 10;

                .arrow-box:after, .arrow-box:before {
                  top: 100%;
                  right: 50%;
                  margin-right: -8px;
                  border: solid transparent;
                  content: " ";
                  height: 0;
                  width: 0;
                  position: absolute;
                  pointer-events: none;
                }

                .arrow-box:after {
                  border-color: rgba(136, 183, 213, 0);
                  border-top-color: white;
                  border-width: 8px; margin-left: -8px;
                }

                .arrow-box:before {
                  border-color: rgba(204, 204, 204, 0);
                  border-top-color: #cccccc;
                  border-width: 9px; margin-left: -9px;
                }

                .arrow-box {
                  background-color: white;
                  position: relative;
                  border-radius: 3px;
                  border: 1px solid #cccccc;

                  .header {
                    position: relative;
                    height: 30px;
                    font-size: 17px;
                    padding: 5px;
                    border-bottom: 1px solid #cccccc;

                    .close {
                      position: absolute;
                      right: 3px;
                      top: 3px;
                      cursor: pointer;
                      width: 20px;
                      height: 20px;
                    }

                    .close:after {
                      font-family: FontAwesome;
                      font-size: 16px;
                      color: #a94442;
                      content: "\f00d";
                    }
                  }

                  .body {
                    padding: 5px;

                    .body-row {
                      display: flex;
                      padding: 5px;

                      .row-left {
                        flex-basis: 40%;
                      }

                      .row-right {
                        flex-basis: 60%;

                        .view-students {
                          width: 50px;
                          height: 20px;
                          line-height: 20px;
                          border-radius: 3px;
                          border: 1px solid #cccccc;
                          background-color: #67b168;
                          color: #fff;
                          text-align: center;
                          cursor: pointer;
                        }
                      }
                    }
                  }

                  .footer {
                    height: 40px;
                    border-top: 1px solid #cccccc;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    button {
                      margin: 0 10px;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  #week-view.body {
    table {
      tr {
        td, th {
          border: 1px solid #ddd;
          background-color: white;
        }

        th {
          border-bottom: 1px solid #26a69a;
          height: 30px;
        }

        th:first-child {
          font-weight: 400;
          width: 60px;
        }

        td:first-child {
          text-align: center;
        }

        td {
          height: 50px;

          .hour-first-half {
            border-bottom: 1px solid #e4e4e4;
          }

          .hour-first-half,
          .hour-second-half {
            height: 50%;
            cursor: pointer;
          }
        }
      }
    }

    table.availability-mode {
      .hour-first-half,
      .hour-second-half {
        position: relative;

        .availability-block {
          background-color: rgba(57, 137, 168, 0.5);
          height: 100%;
        }
      }

      .hour-first-half:not(.available-block):hover,
      .hour-second-half:not(.available-block):hover {
        background-color: rgba(57, 137, 168, 0.3);
      }

      .hour-first-half:not(.available-block):hover:after,
      .hour-second-half:not(.available-block):hover:after {
        font-family: FontAwesome;
        content: "\f055";
        color: #67b168;
        font-size: 22px;
        line-height: 25px;
        position: absolute;
        left: 50%;
        margin-left: -11px;
      }
    }
  }
}

.no-activity-students {
  text-align: center;
  margin: 20px 0;
}

.simple-list {
  .student-filter {
    height: 40px;

    input {
      height: 40px;
      width: 100%;
      border-radius: 0;
      border: 1px solid #cccccc;
      padding: 10px;
      font-size: 20px;
    }
  }

  ul {
    width: 100%;
    margin: 20px 0;
    list-style: none;

    li {
      display: flex;
      align-items: center;
      height: 40px;
      border-top: 1px solid #f2f2f2;
      width: 100%;

      .picture {
        flex-basis: 40px;
        padding: 5px;
      }

      .name {
        flex-basis: 90%;
        font-size: 18px;
        padding: 0 5px;
      }

      .profile-link {
        flex-basis: 10%;

        button {
          position: relative;

          i {
            position: absolute;
            text-align: right;
            color: white;
            right: 8px;
            height: 30px;
            line-height: 30px;
            top: 0;
          }
        }
      }
    }

    li:last-child {
      border-bottom: 1px solid #f2f2f2;
    }

    li:hover {
      background-color: #f2f2f2;
    }
  }
}

.recurring-delete-modal {
  button:first-child {
    width: 200px;
  }

  button:nth-child(2) {
    width: 250px;
  }
}