<div id="monthly-calendar">
    <div class="header">
        <div class="navigation">
            <button type="button" (click)="previousMonth()" [disabled]="mode == 'availability'"><i class="fa fa-chevron-left"></i></button>
            <button type="button" class="today" (click)="today()" [disabled]="mode == 'availability'">today</button>
            <button type="button" (click)="nextMonth()" [disabled]="mode == 'availability'"><i class="fa fa-chevron-right"></i></button>
        </div>
        <div class="display">{{ currentDate.format('MMMM YYYY') }}</div>
        <div class="mode">
            <button type="button" (click)="showMonthlyCalendar()" *ngIf="mode != 'availability'">month</button>
            <button type="button" (click)="showWeeklyCalendar()" *ngIf="mode != 'availability'">week</button>
            <div class="calendar-options dropdown-1" *ngIf="mode != 'availability'">
                <i class="fa fa-cog"></i>
                <div class="dropdown-box">
                    <div class="arrow-box">
                        <ul>
                            <li (click)="enterAvailabilityMode()"><a><i class="fa fa-clock-o"></i>availability</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <button class="save-availability-mode-button" type="button" [disabled]="!availabilitiesChanged"
                    *ngIf="mode == 'availability'" (click)="applyAvailabilityChangesToFutureWeeks()">
                Apply to future weeks
            </button>
            <button class="cancel-availability-mode-button" type="button" (click)="exitAvailabilityMode()"
                    *ngIf="mode == 'availability'">Exit availabilities</button>
        </div>
    </div>
    <div class="body" id="month-view" *ngIf="mode == 'month'">
        <table cellspacing="0">
            <tr>
                <th>Sun</th><th>Mon</th><th>Tue</th><th>Wed</th><th>Thu</th><th>Fri</th><th>Sat</th>
            </tr>
            <tr *ngFor="#row of rows">
                <td [id]="'event-td-' + (row * 7 + col)" *ngFor="#col of cols" (drop)="handleDrop($event, row * 7 + col)" (dragover)="handleDragOver($event)">
                    <div class="top">
                        <div class="add" (click)="openNewEventModal(dates[row * 7 + col].date, newev)"><i class="fa fa-plus-circle"></i></div>
                        <div class="date-number" [class.faded]="dates[row * 7 + col].date.month() != currentDate.month()">
                            {{ dates[row * 7 + col].date.format('D') }}
                        </div>
                    </div>
                    <div class="events">
                        <div class="event-wrapper" *ngFor="#event of dates[row * 7 + col].events">
                            <div class="event event-green" draggable="true" (dragstart)="handleDragStart($event, event, row * 7 + col)">
                                {{ event.title }}
                            </div>
                            <!--<div class="event-popover" v-show="showPopover == i + '.' + j + '.' + event.id">-->
                                <!--<div class="arrow-box">-->
                                    <!--<div class="header">-->
                                        <!--{{ event.title }}-->
                                        <!--<div class="close" @click="showPopover = 0"></div>-->
                                    <!--</div>-->
                                    <!--<div class="body">-->
                                        <!--<div class="body-row">-->
                                            <!--<div class="row-left">Description:</div>-->
                                            <!--<div class="row-right">-->
                                                <!--{{ typeof event.description == 'string' && event.description != '' ? event.description : 'n/a' }}-->
                                            <!--</div>-->
                                        <!--</div>-->
                                        <!--<div class="body-row">-->
                                            <!--<div class="row-left">Activity:</div>-->
                                            <!--<div class="row-right">{{ findActivity(event.activityId) ? findActivity(event.activityId).name : 'n/a' }}</div>-->
                                        <!--</div>-->
                                        <!--<div class="body-row">-->
                                            <!--<div class="row-left">Students:</div>-->
                                            <!--<div class="row-right" v-show="event.studentIds.length == 0">none</div>-->
                                            <!--<div class="row-right" v-show="event.studentIds.length > 0">-->
                                                <!--<div class="view-students" @click="showStudentsFor(event)">view</div>-->
                                            <!--</div>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                    <!--<div class="footer">-->
                                        <!--<button type="button" class="button-red button-short" @click="delete(event)">Delete</button>-->
                                        <!--<button type="button" class="button-green button-short">Edit</button>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</div>-->
                        </div>
                        <!--<div class="extra-events" v-if="getEventCountForDate(getPositionDate(i, j)) > 4">-->
                            <!--+ {{ getEventCountForDate(getPositionDate(i, j)) - 3 }} more-->
                        <!--</div>-->
                    </div>
                </td>
            </tr>
        </table>
    </div>

    <div class="body" id="week-view" *ngIf="mode == 'week' || mode == 'availability'">
        <div class="table-double-wrapper">
            <div class="table-wrapper">
                <table>
                    <tr>
                        <th><div>time</div></th><th>
                        <div>Sun <i>{{ dates[currentRow * 7].date.format('Do') }}</i></div></th>
                        <th><div>Mon <i>{{ dates[currentRow * 7 + 1].date.format('Do') }}</i></div></th>
                        <th><div>Tue <i>{{ dates[currentRow * 7 + 2].date.format('Do') }}</i></div></th>
                        <th><div>Wed <i>{{ dates[currentRow * 7 + 3].date.format('Do') }}</i></div></th>
                        <th><div>Thu <i>{{ dates[currentRow * 7 + 4].date.format('Do') }}</i></div></th>
                        <th><div>Fri <i>{{ dates[currentRow * 7 + 5].date.format('Do') }}</i></div></th>
                        <th><div>Sat <i>{{ dates[currentRow * 7 + 6].date.format('Do') }}</i></div></th>
                    </tr>
                    <tr>
                        <td class="time-rows">
                            <div *ngFor="#hour of hours" class="time-display">{{ hour.value | hour }}</div>
                        </td>
                        <td *ngFor="#col of cols" class="day-rows">
                            <div class="day-col" *ngIf="mode == 'availability'" (mousemove)="handleAvailabilityResizeMouseMove($event)">
                                <div *ngFor="#hour of hours" class="day-hour-block"
                                     [class.hour-block-available]="isTimeAvailable(col, hour.value, hour.value + 100)"
                                     [class.do-not-display-hover]="resizing"
                                     (click)="createAvailability(col, hour.value, hour.value + 100)">
                                    <div *ngFor="#quarter of hour.quarters; #even = even; #odd = odd" class="day-row"
                                         [class.row-half-marker]="odd"
                                         [class.row-quarter-marker]="even"
                                         (drop)="handleAvailabilityDrop($event, col, quarter.value)"
                                         (dragover)="handleAvailabilityDragOver($event)">
                                    </div>
                                </div>

                                <div *ngFor="#availability of dates[currentRow * 7 + col].availabilities" class="availability-block"
                                     [ngStyle]="{'height': availability.height + 'px', 'top': availability.position + 'px'}"
                                     draggable="true" (dragstart)="handleAvailabilityDragStart($event, availability, col)">
                                    <div class="resizable-content">
                                        {{ availability.startTime }} - {{ availability.endTime }}
                                    </div>
                                    <div class="resizable-end" (mousedown)="handleAvailabilityResizeMouseDown($event, availability, col)">
                                        <div class="dot"></div>
                                        <div class="dot"></div>
                                        <div class="dot"></div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>

<new-event-modal #newev></new-event-modal>