@inject('\Library\Facades\Form')

<div>
    <div id="demo">
        {{ Form::open('', 'POST', ['v-on' => 'submit: submitForm'], false) }}

        <div class="form-row">
            {{ Form::text('content', null, ['v-model' => 'newMessage.content']) }}
            <select id="student-ids" class="js-example-basic-multiple form-control" multiple="multiple">
                @foreach ($students as $student)
                <option value="{{ $student->id }}" data-picture="{{ $student->profile_picture }}">{{ $student->name() }}</option>
                @endforeach
            </select>
        </div>

        <div class="form-row">
            {{ Form::button('Send', ['type' => 'submit']) }}
        </div>

        {{ Form::close() }}

        <div class="col-md-12 user-row" v-repeat="user: users">
            <img src="@{{ user.profile_picture }}" width="50" height="auto" />
            <a href="javascript:;" v-on="click: showMessages(this)">@{{ user.name }}</a>
            <div v-show="user.isVisible">
                hrerehrere
            </div>
        </div>
    </div>
</div>

<link rel="stylesheet" type="text/css" href="/Web/css/select2.min.css">
<script type="text/javascript" src="/Web/js/select2.min.js"></script>

<script type="text/javascript">
    $('#student-ids').select2({
        placeholder: "Select students",
        templateResult: formatStudent
    });

    function formatStudent (student) {
        var $student = $(
                '<span><img src="' + $(student.element).data("picture") + '" width="20" /> ' + student.text + '</span>'
        );
        return $student;
    }

    new Vue({
        el: '#demo',

        ready: function() {
            this.fetchUsers();
        },

        data: {
            newMessage: {
                subject: '',
                content: '',
                student_ids: ''
            }
        },

        methods: {
            fetchUsers: function() {
                this.$http.get('/school/teacher/api/messaging/users', function(users) {
                    this.$set('users', users);
                });

                //this.users.$add('isVisible', true);
            },

            showMessages: function(user) {alert(user.isVisible);
                // look at vue transitions...
                if (user.isVisible) {
                    user.isVisible = false;
                    return;
                }

                $.each(this.users, function(key, value) {
                    value.isVisible = false;
                });

                user.isVisible = true;
            },

            submitForm: function(e) {
                e.preventDefault();

                var message = this.newMessage;
                message.recipient_id = $('#student-ids').select2('val');
                message.recipient_type = 'Student';
                message.subject = 'a subject';
                $('#student-ids').select2('val', '');
                this.newMessage = {subject: '', content: '', student_ids: ''};

                this.$http.post('/school/teacher/messaging/ajax/store', message);
            }
        }
    });
</script>