<div>
    <div id="new-message">
        <form id="new-message-form" action="" method="POST">
            <select name="user">
                @foreach ($students as $student)
                    <option value="{{ $student->id }}">{{ $student->name() }}</option>
                @endforeach
            </select>
            <input type="text" name="content" />
            <button type="submit" class="btn btn-primary">Send</button>
        </form>
    </div>

    <div id="user-messages">
        @foreach ($students as $student)
            <div class="row col-md-12 user-row">
                <img src="{{ $student->profile_picture }}" width="50" height="auto" />
                <a href="javascript:;" onclick="showMessages(this)" class="user-row-name">{{ $student->name() }}</a>
                <div class="user-row-messages">
                    here
                </div>
            </div>
        @endforeach
    </div>
</div>

<div>
    <div id="demo">
        <div class="col-md-12 user-row" v-repeat="user: users">
            <img src="@{{ user.profilePicture }}" width="50" height="auto" />
            <a href="javascript:;" v-on="click: showMessages(this)">@{{ user.name }}</a>
            <div v-show="user.isVisible">
                hrerehrere
            </div>
        </div>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/0.11.10/vue.min.js"></script>

<script type="text/javascript">
    new Vue({
        el: '#demo',

        data: {
            users: [
                {name: 'Jennifer Lopez', profilePicture: '/Web/images/defaultProfilePicture.png', isVisible: false},
                {name: 'Tom Cruise', profilePicture: '/Web/images/defaultProfilePicture.png', isVisible: false},
                {name: 'Sandra Bullock', profilePicture: '/Web/images/defaultProfilePicture.png', isVisible: false}
            ]
        },

        methods: {
            showMessages: function(item) {
                // look at vue transitions...

                item.isVisible = !item.isVisible;
            }
        }
    });

    function showMessages(e) {
        var messagesDiv = $(e).next('.user-row-messages');

        if (messagesDiv.is(':visible')) {
            messagesDiv.slideUp('fast');
            return;
        }

        $('.user-row-messages').slideUp('fast');
        messagesDiv.slideDown('fast');
    }

    $('#new-message-form').submit(function(e) {
        e.preventDefault();


    });
</script>