@inject('\Library\Facades\Form')

<div>
    <!--
    <div id="new-message">
        <form id="new-message-form" action="" method="POST">
            <select name="user">
                @foreach ($students as $student)
                    <option value="{{ $student->id }}">{{ $student->name() }}</option>
                @endforeach
            </select>
            <input type="text" name="content" />
            <button type="submit" class="btn btn-primary">Send</button>
        </form>
    </div>

    <div id="user-messages">
        @foreach ($students as $student)
            <div class="row col-md-12 user-row">
                <img src="{{ $student->profile_picture }}" width="50" height="auto" />
                <a href="javascript:;" onclick="showMessages(this)" class="user-row-name">{{ $student->name() }}</a>
                <div class="user-row-messages">
                    here
                </div>
            </div>
        @endforeach
    </div>
    -->
</div>

<div>
    <div id="demo">
        {{ Form::open('', 'POST', ['v-on' => 'submit: submitForm'], false) }}

        <div class="form-row">
            {{ Form::text('content', null, ['v-model' => 'newMessage.content']) }}
        </div>

        <div class="form-row">
            {{ Form::button('Send', ['type' => 'submit']) }}
        </div>

        {{ Form::close() }}

        <div class="col-md-12 user-row" v-repeat="user: users">
            <img src="@{{ user.profile_picture }}" width="50" height="auto" />
            <a href="javascript:;" v-on="click: showMessages(this)">@{{ user.name }}</a>
            <div v-show="user.isVisible">
                hrerehrere
            </div>
        </div>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/0.11.10/vue.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue-resource/0.1.3/vue-resource.js"></script>

<script type="text/javascript">
    new Vue({
        el: '#demo',

        ready: function() {
            this.fetchUsers();
        },

        data: {
            newMessage: {
                subject: '',
                content: ''
            }
        },

        methods: {
            fetchUsers: function() {
                this.$http.get('/school/teacher/api/messaging/users', function(users) {
                    this.$set('users', users);
                });

                //this.users.$add('isVisible', true);
            },

            showMessages: function(user) {alert(user.isVisible);
                // look at vue transitions...
                if (user.isVisible) {
                    user.isVisible = false;
                    return;
                }

                $.each(this.users, function(key, value) {
                    value.isVisible = false;
                });

                user.isVisible = true;
            },

            submitForm: function(e) {
                e.preventDefault();

                var message = this.newMessage;
                this.newMessage = {subject: '', content: ''};

                this.$http.post('school/api/teacher/messaging/create', message);
            }
        }
    });
</script>