$color-main: #67b168;
$color-error: #b94a48;

* {
  padding: 0;
  margin: 0;
  font-family: Roboto, sans-serif;
  color: #444;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

i.fa {
  font-family: FontAwesome !important;
}

/* GRID */

.grid-row { display: flex; }

.grid-wrap { flex-wrap: wrap; }

.grid-col-1 { flex: 1; }
.grid-col-2 { flex: 2; }
.grid-col-3 { flex: 3; }
.grid-col-4 { flex: 4; }

/* TABLES */

.table-style-1
{
  table {
    width: 100%;
  }

  thead {
    tr {
      border-bottom: 1px solid #ccc;

      th {
        padding-bottom: 5px;
      }
    }
  }

  tbody {
    tr:hover {
      background-color: #f5f5f5;
    }

    tr {
      border-bottom: 1px solid #ddd;

      td {
        padding: 5px 0;
      }
    }
  }
}

.form-1 {
  width: 100%;
  padding: 20px;

  .form-title {
    font-size: 18px;
    margin-bottom: 30px;
    height: 30px;
    border-bottom: 1px solid #26a69a;
  }

  .form-row {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    margin: 20px 0;

    > label {
      flex-basis: 30%;
      font-size: 17px;
      line-height: 40px;
    }

    label.radio-label {
      width: auto;
      margin-right: 30px;

      input[type="radio"] {
        margin-left: 5px;
        display: none;
      }

      i.radio-icon:after {
        font-style: normal;
        font-family: FontAwesome;
        content: "\f10c";
        font-size: 16px;
      }

      input[type="radio"]:checked + i.radio-icon:after {
        content: "\f192";
      }
    }

    input[type="text"],
    input[type="password"] {
      flex-basis: 70%;
      height: 40px;
      padding: 0 5px;
      -webkit-border-radius: 0px;
      -moz-border-radius: 0px;
      border-radius: 0px;
      border: 1px solid #cccccc;
    }

    input[type="text"]:focus,
    input[type="password"]:focus ,
    select:focus {
      border-color: #808080;
    }

    input[type="text"].valid,
    input[type="password"].valid {
      border-color: $color-main;
    }

    input[type="text"].invalid,
    input[type="password"].invalid {
      border-color: $color-error;
    }

    select {
      flex-basis: 70%;
      height: 40px;
      width: 75%;
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      border-radius: 0;
      border: 1px solid #cccccc;
      background-color: white;
    }

    .form-error {
      flex-basis: 70%;
      justify-content: flex-end;
      margin-top: 5px;
    }
  }

  .form-buttons {
    text-align: right;
    height: 60px;
    line-height: 60px;

    label {
      margin-right: 50px;
    }

    input[type="checkbox"] {
      margin-right: 5px;
      vertical-align: middle;
    }

    button[type="submit"] {
      background-color: $color-main;
      width: 150px;
      height: 40px;
      cursor: pointer;
      color: white;
      font-weight: 600;
    }
  }
}

a
{
  outline: 0;
}

a:hover, a:active, a:focus {
  outline: 0;
}

/* DEFAULT LAYOUTS */

.default-center
{
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 20px;
}

/* DISABLED BUTTON */

button:disabled
{
  pointer-events: auto !important;
  cursor: not-allowed;
}

#frontend {
  @import 'frontend/frontend';
}

#school {
  @import 'school/school';
}
