<header>
    <div class="school-name" *ngIf="currentUser">
        <a [routerLink]="['./Index']">{{ currentUser.schoolName }}</a>
    </div>
    <div class="account">
        <div class="dropdown-1" *ngIf="currentUser">
            <img src="/images/defaultProfilePicture.png" width="30" height="30" />
            {{ currentUser.fullName() }} <i class="fa fa-angle-down"></i>
            <div class="dropdown-box">
                <div class="arrow-box">
                    <ul>
                        <li>
                            <a href="#">
                                <i class="fa fa-user"></i>Account
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa fa-gear"></i>Settings
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <i class="fa fa-sign-out"></i>Log out
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div id="responsive-menu-button" (click)="toggleResponsiveMenu()">
        <i class="fa fa-bars"></i>
    </div>
</header>

<div id="container">
    <div id="menu">
        <div class="responsive-user-menu">
            <div class="account">
                <div class="dropdown-1" *ngIf="currentUser">
                    <img src="/images/defaultProfilePicture.png" width="30" height="30" />
                    {{ currentUser.fullName() }} <i class="fa fa-angle-down"></i>
                    <div class="dropdown-box">
                        <div class="arrow-box">
                            <ul>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-user"></i>Account
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-cog"></i>Settings
                                    </a>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-sign-out"></i>Log out
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="menu-only">
            <ul>
                <li [class.active]="router.isRouteActive(router.generate(['./Index']))">
                    <a [routerLink]="['./Index']">
                        <i class="fa fa-home"></i>Home
                    </a>
                </li>
                <li class="multi-level" [class.open]="subMenus.activities" [class.active]="router.isRouteActive(router.generate(['./Activity']))">
                    <a href="javascript:;" (click)="toggleSubMenu('activities')">
                        <i class="fa fa-cogs"></i>Activities
                    </a>
                    <ul *ngIf="subMenus.activities">
                        <li [class.active]="router.isRouteActive(router.generate(['./Activity/Index']))">
                            <a [routerLink]="['./Activity/Index']">
                                View
                            </a>
                        </li>
                        <li [class.active]="router.isRouteActive(router.generate(['./Activity/Create']))">
                            <a [routerLink]="['./Activity/Create']">
                                Create
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="multi-level" [class.open]="subMenus.students" [class.active]="router.isRouteActive(router.generate(['./Student']))">
                    <a href="javascript:;" (click)="toggleSubMenu('students')">
                        <i class="fa fa-group"></i>Students
                    </a>
                    <ul *ngIf="subMenus.students">
                        <li [class.active]="router.isRouteActive(router.generate(['./Student/Index']))">
                            <a [routerLink]="['./Student/Index']">
                                View
                            </a>
                        </li>
                        <li>
                            <a href="#)">
                                Create
                            </a>
                        </li>
                    </ul>
                </li>
                <li [class.active]="router.isRouteActive(router.generate(['./Calendar']))">
                    <a [routerLink]="['./Calendar/Index']">
                        <i class="fa fa-calendar"></i>Calendar
                    </a>
                </li>
                <li class="multi-level" [class.open]="subMenus.settings">
                    <a href="javascript:;" (click)="toggleSubMenu('settings')">
                        <i class="fa fa-cog"></i>Settings
                    </a>
                    <ul *ngIf="subMenus.settings">
                        <li>
                            <a href="#">
                                School information
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Registration form
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Preferences
                            </a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-user"></i>Account
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <div id="content">
        <router-outlet></router-outlet>
    </div>
</div>