<div id="student-profile" class="grid-row profile">
    <div class="picture grid-col-1">
        <div class="panel-1">
            <div class="component-loading" *ngIf="loading"></div>
            <div *ngIf="!loading">
                <div class="img-container">
                    <img src="/images/defaultProfilePicture.png" width="160" height="auto">
                </div>
                <div class="name">{{ student.fullName }}</div>
                <div [class.status-active]="student.active" [class.status-inactive]="!student.active">
                    <i class="fa fa-circle"></i>{{ student.active ? 'Active' : 'Inactive' }}
                </div>
                <div class="date">Member since {{ student.dateRegistered.format('MMMM YYYY') }}</div>
            </div>
        </div>
    </div>
    <div class="information grid-col-3">
        <div class="panel-1">
            <div class="info-section">
                <div class="title">Personal information</div>
                <div class="component-loading" *ngIf="loading"></div>
                <div class="content" *ngIf="!loading">
                    <div class="info-element">
                        <div class="info-label">Name:</div>
                        <div class="info-value">{{ student.fullName }}</div>
                    </div>
                    <div class="info-element">
                        <div class="info-label">Email:</div>
                        <div class="info-value">{{ student.email }}</div>
                    </div>
                    <div class="info-element" *ngFor="#field of profileInformation.personal">
                        <div class="info-label">{{ field.display }}:</div>
                        <div class="info-value">
                            {{ field.value }}
                        </div>
                    </div>
                </div>
                <div class="title" *ngIf="!loading && profileInformation.address.length > 0">Address</div>
                <!--<div class="content">-->
                    <!--<div class="info-element">-->
                        <!--<div class="info-label">Street</div>-->
                        <!--<div class="info-value">-->
                            <!--{{ $student->address()->street() == '' ? 'n/a' : $student->address()->street() }}-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="info-element">-->
                        <!--<div class="info-label">City</div>-->
                        <!--<div class="info-value">-->
                            <!--{{ $student->address()->city() == '' ? 'n/a' : $student->address()->city() }}-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="info-element">-->
                        <!--<div class="info-label">Country</div>-->
                        <!--<div class="info-value">-->
                            <!--{{ $student->address()->country() == '' ? 'n/a' : $student->address()->country() }}-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
                <div class="title" *ngIf="!loading && profileInformation.extra.length > 0">Additional information</div>
                <div class="content" *ngIf="!loading && profileInformation.extra.length > 0">
                    <div class="info-element" *ngFor="#field of profileInformation.extra">
                        <div class="info-label">{{ field.display }}:</div>
                        <div class="info-value">{{ field.value }}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>