<link rel="stylesheet" href="/School/Web/css/specific/calendar.css" type="text/css" />
<link rel="stylesheet" href="/School/Web/css/specific/calendarResponsive.css" type="text/css" />

<div class="col-md-12">
	<div id="calendar-container">
		<div id="calendar-top-div">
			Calendar
			<span class="calendar-top-controls">
				<span class="calendar-top-controls-date"></span>
				<span class="calendar-top-controls-arrow-left">
					<a href="javascript:;"><i class="fa fa-arrow-circle-left"></i></a>
				</span>
				<span class="calendar-top-controls-arrow-right">
					<a href="javascript:;"><i class="fa fa-arrow-circle-right"></i></a>
				</span>
				<span class="calendar-top-controls-today">
					<a href="javascript:;">Today</a>
				</span>
			</span>
		</div>
		<div id="calendar-side-div">
			<div id="mini-calendar-div">
				<div class="mini-calendar-top">
					<span class="mini-calendar-top-arrow-left"><a href="javascript:;"><i class="fa fa-arrow-circle-left"></i></a></span>
					<span class="mini-calendar-top-month-name">May</span>
					<span class="mini-calendar-top-arrow-right"><a href="javascript:;"><i class="fa fa-arrow-circle-right"></i></a></span>
				</div>
				<div class="mini-calendar-body">
					
				</div>
			</div>
		</div>
		<div id="calendar-div">
			<div class="calendar-body">
				
			</div>
		</div>
	</div>
</div>

@includeView('addEventModal')

<script type="text/javascript">
	var currentDate = new Date();
	var selectedMiniDate = new Date();
	var selectedDate = new Date();
	
	$(function() {
		displayMiniCalendarMonth(currentDate.getMonth(), currentDate.getFullYear());
		displayCalendarDate(currentDate.getFullYear(), currentDate.getMonth(), currentDate.getDate());
		
		$('.mini-calendar-top-arrow-left').on('click', function() {
			displayPreviousMiniCalendarMonth();
		});
		
		$('.mini-calendar-top-arrow-right').on('click', function() {
			displayNextMiniCalendarMonth();
		});
		
		$('.calendar-top-controls-arrow-left').on('click', function() {
			displayPreviousCalendarMonth();
		});
		
		$('.calendar-top-controls-arrow-right').on('click', function() {
			displayNextCalendarMonth();
		});
		
		$('.calendar-top-controls-today').on('click', function() {
			displayCalendarDate(currentDate.getFullYear(), currentDate.getMonth(), currentDate.getDate());
		});
	});
	
	function displayPreviousMiniCalendarMonth() {
		selectedMiniDate.setMonth(selectedMiniDate.getMonth() - 1);
		displayMiniCalendarMonth(selectedMiniDate.getMonth(), selectedMiniDate.getFullYear());
		return false;
	} 
	
	function displayNextMiniCalendarMonth() {
		selectedMiniDate.setMonth(selectedMiniDate.getMonth() + 1);
		displayMiniCalendarMonth(selectedMiniDate.getMonth(), selectedMiniDate.getFullYear());
		return false;
	} 
	
	function displayMiniCalendarMonth(monthNumber, year) {
		if (monthNumber < 0 || monthNumber > 11) {
			monthNumber = currentDate.getMonth();
			year = currentDate.getFullYear();
		}
		
		var date = new Date(year, monthNumber, 1);
		selectedMiniDate = date;
		
		var dayOfWeek = date.getDay();
		var daysInMonth = getNumberOfDaysInMonth(monthNumber, year);
		var daysInLastMonth = getNumberOfDaysInMonth(monthNumber - 1, year);
		
		$('.mini-calendar-top-month-name').html(getMonthNameFromNumber(monthNumber) + '&nbsp;&nbsp;' + year);
		
		var totalCells = dayOfWeek + daysInMonth;
		if (totalCells % 7 != 0) {
			totalCells = (Math.floor(totalCells / 7) + 1) * 7;
		}
		var totalRows = totalCells / 7;
		
		var str = '<table class="mini-calendar-table">';
		
		for (var i = 0; i < totalRows; i++) {
			str += '<tr>';
			
			var nextMonthDayCounter = 0;
			for (var j = 0; j < 7; j++) {				
				var cellNumber = i * 7 + j;
				
				if (cellNumber < dayOfWeek) {
					str += buildMiniCalendarCell(daysInLastMonth - dayOfWeek + j + 1, false);
				} else if (cellNumber >= dayOfWeek + daysInMonth) {
					nextMonthDayCounter++;
					str += buildMiniCalendarCell(nextMonthDayCounter, false);
				} else {
					str += buildMiniCalendarCell(cellNumber - dayOfWeek + 1, true);
				}
			}
			
			str += '</tr>';
		}
		
		str += '</table>';
		
		$('.mini-calendar-body').html(str);
	}
	
	function buildMiniCalendarCell(day, isForCurrentMonth) {
		var str = '';
		
		if (isForCurrentMonth 
				&& currentDate.getDate() == day
				&& selectedMiniDate.getMonth() == currentDate.getMonth()
				&& selectedMiniDate.getFullYear() == currentDate.getFullYear()) {
			str += '<td class="mini-calendar-table-current-day">';	
		} else if (!isForCurrentMonth) {
			str += '<td class="mini-calendar-table-not-current-month">';
		} else {
			str += '<td>';
		}
		
		str += '<a href="javascript:;" onclick="displayCalendarDate(' + selectedMiniDate.getFullYear() + ', ' + selectedMiniDate.getMonth() + ', ' + day + ')">' + day + '</a>';	
		
		str += '</td>';
		
		return str;
	}
	
	function displayPreviousCalendarMonth() {
		selectedDate.setMonth(selectedDate.getMonth() - 1);
		displayCalendarDate(selectedDate.getFullYear(), selectedDate.getMonth(), selectedDate.getDate());
		return false;
	}
	
	function displayNextCalendarMonth() {
		selectedDate.setMonth(selectedDate.getMonth() + 1);
		displayCalendarDate(selectedDate.getFullYear(), selectedDate.getMonth(), selectedDate.getDate());
		return false;
	}
	
	function displayCalendarDate(year, month, day) {
		selectedDate = new Date(year, month, day);
		
		$('.calendar-top-controls-date').html(getMonthNameFromNumber(month) + '&nbsp;&nbsp;' + year);
		
		var tempDate = new Date(year, month, 1);
		var dayOfWeek = tempDate.getDay();
		var daysInMonth = getNumberOfDaysInMonth(month, year);
		var daysInLastMonth = getNumberOfDaysInMonth(month - 1, year);
		
		var totalCells = dayOfWeek + daysInMonth;
		if (totalCells % 7 != 0) {
			totalCells = (Math.floor(totalCells / 7) + 1) * 7;
		}
		var totalRows = totalCells / 7;
		
		var str = '<table class="calendar-table">';
		
		str += buildCalendarHeader();
		
		for (var i = 0; i < totalRows; i++) {
			str += '<tr>';
			
			var nextMonthDayCounter = 0;
			for (var j = 0; j < 7; j++) {				
				var cellNumber = i * 7 + j;
				
				if (cellNumber < dayOfWeek) {
					str += buildCalendarCell(daysInLastMonth - dayOfWeek + j + 1, false);
				} else if (cellNumber >= dayOfWeek + daysInMonth) {
					nextMonthDayCounter++;
					str += buildCalendarCell(nextMonthDayCounter, false);
				} else {
					str += buildCalendarCell(cellNumber - dayOfWeek + 1, true);
				}
			}
			
			str += '</tr>';
		}
		
		str += '</table>';
		
		$('.calendar-body').html(str);
	}
	
	function buildCalendarHeader() {
		var str = '<tr>';
		
		str += '<th>Sunday</td>';
		str += '<th>Monday</td>';
		str += '<th>Tuesday</td>';
		str += '<th>Wednesday</td>';
		str += '<th>Thursday</td>';
		str += '<th>Friday</td>';
		str += '<th>Saturday</td>';
		
		str += '</tr>';
		
		return str;
	}
	
	function buildCalendarCell(day, isForCurrentMonth) {
		var str = '';
		
		if (isForCurrentMonth 
				&& currentDate.getDate() == day
				&& selectedMiniDate.getMonth() == currentDate.getMonth()
				&& selectedMiniDate.getFullYear() == currentDate.getFullYear()) {
			str += '<td class="calendar-table-current-day">';
		} else if (!isForCurrentMonth) {
			str += '<td class="calendar-table-not-current-month">';
		} else {
			str += '<td>';
		}
		
		// Cell header
		str += '<div class="calendar-table-cell-header">';
		str += '<span class="calendar-table-cell-header-left">';
		str += day;
		str += '</span>';
		str += '<span class="calendar-table-cell-header-right">';
		str += '<a href="javascript:;" onclick="showAddEventModal(this)" data-year="' + selectedDate.getFullYear() + '" data-month="' + selectedDate.getMonth() + '" data-day="' + day + '" ><i class="fa fa-plus-circle"></i>';
		str += '</span>';
		str += '</div>';
		
		// Cell body
		str += '<div class="calendar-table-cell-body"';
		str += '</div>';
		
		str += '</td>';
		
		return str;
	}
	
	function getMonthNameFromNumber(monthNumber) {
		switch (monthNumber) {
			case 0:
				return 'January';
			case 1:
				return 'February';
			case 2:
				return 'March';
			case 3:
				return 'April';
			case 4:
				return 'May';
			case 5:
				return 'June';
			case 6:
				return 'July';
			case 7:
				return 'August';
			case 8:
				return 'September';
			case 9:
				return 'October';
			case 10:
				return 'November';
			case 11:
				return 'December';
			default:
				return 'n/a';
		}
	}
	
	function getNumberOfDaysInMonth(month, year)
	{
		var monthStart = new Date(year, month, 1);
		var monthEnd = new Date(year, month + 1, 1);
		return Math.floor((monthEnd - monthStart) / (1000 * 60 * 60 * 24));
	}
	
	// MODAL DIALOG
	
	function showAddEventModal(e) {
	    var year = e.dataset.year;
		var month = e.dataset.month;
		var day = e.dataset.day;
	    var modal = $('#add-event-modal');
	
//	    editModal.find('input').removeClass('valid').removeClass('invalid');
//	    editModal.find('input').parent().removeClass('show');
//	    editModal.find('input').parent().nextAll('span').removeClass('show');

//	    $('#edit-modal-firstName').val(currentForm.elements['firstName'].value);
//	    $('#edit-modal-lastName').val(currentForm.elements['lastName'].value);
	
	    modal.modal('show');
	    return false;
	}
</script>