a
{
    outline: 0;
}


a:hover, a:active, a:focus {
    outline: 0;
}

.modal-dialog
{
    z-index: 1050;
}

input[type="file"]:focus, 
input[type="radio"]:focus, 
input[type="checkbox"]:focus
{
    outline: none;
}

/* DEFAULT LAYOUTS */

.default-center
{
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 20px;
}

.default-wide
{
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 20px;
}

.col-1 { width: 8.3%; }
.col-2 { width: 16.6%; }
.col-3 { width: 25%; }
.col-4 { width: 33.3%; }
.col-5 { width: 41.6%; }
.col-6 { width: 50%; }
.col-7 { width: 58.3%; }
.col-8 { width: 66.6%; }
.col-9 { width: 75%; }
.col-10 { width: 83.3%; }
.col-11 { width: 91.6%; }
.col-12 { width: 100%; }

.col-1, .col-2, .col-3, .col-4,
.col-5, .col-6, .col-7, .col-8, 
.col-9, .col-10, .col-11, .col-12
{
    float: left;
    min-height: 1px;
}

/* JQUERY UI TABS */

.tabs-styled
{
    border: none;
    padding: 0;
}

.tabs-styled .ui-tabs-nav
{
    background: none;
    border: none;
    border-bottom: 1px solid #ccc;
    border-radius: 0px;
    padding-left: 0px;
}

.tabs-styled .ui-tabs-nav li
{
    border-radius: 0px;
    width: 120px;
    height: 40px;
    padding-bottom: 40px !important;
    background: white !important;
}

.tabs-styled .ui-tabs-nav li:hover
{
    border: 1px solid #ccc;
    border-bottom: none;
}

.tabs-styled .ui-tabs-nav li.ui-tabs-active
{
    padding-bottom: 40px;
    border: none;
    border-top: 3px solid #D11919;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
}

.tabs-styled .ui-tabs-nav .ui-tabs-anchor
{
    width: 120px;
    padding: 0;
    line-height: 35px;
    text-align: center;
    font-size: 18px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.tabs-styled.ui-tabs div.ui-tabs-panel
{
    padding: 0 !important;
    padding-top: 20px !important;
}

/* FLASH */

#flash
{
    display: none;
}

#flash.active
{
    display: block;
    height: 50px;
    background-color: #ccc;
    font-size: 22px;
    text-align: left;
    line-height: 50px;
    padding-right: 15px;
    padding-left: 15px;
    margin-bottom: 10px;
    border-radius: 3px;
}

#flash.active span
{
    float: right;
}

#flash.success
{
    background-color: green;
}

#flash.error
{
    
}

.flash-close
{
    
}

/* DISABLED BUTTON */

button:disabled
{
    pointer-events: auto !important;
    cursor: not-allowed;
}

/* PROFILE PICTURES */

.profile-picture-small
{
    max-width: 30px !important;
    max-height: 30px;
    width: 100%;
}

/* SELECT2 */

.select2.select2-container
{
    width: 100% !important;
    margin-bottom: 5px !important;
}

.select2-search__field
{
    width: 100% !important;
}

.select2-container--default .select2-selection--multiple
{
    border-radius: 0px !important;
}