.container-fluid
{
    padding: 0px;
}

.main-content
{
    margin-left: 0px;
    margin-right: 5%;
}

.nav-top
{
    min-height: 10px;
    border-radius: 0px;
    border: none;
    padding-right: 5%;
    padding-left: 5%;
    margin-bottom: 0px;
}

@media (min-width: 768px)
{
    .nav-top-search
    {
        margin-left: 20%;
    }
}

.nav-top-search input
{
    background-color: #222;
    border: none;
    border-bottom: 1px solid #9D9D9D;
    box-shadow: none;
    border-radius: 0px;
}

.nav-top-search input:focus
{
    color: white;
    border: none;
    border-bottom: 1px solid white;
    box-shadow: none;
}

.sidebar
{
    padding-left: 0px;
    border-radius: 0px;;
}

.sidebar .list-group-item:first-child
{
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    height: 50px;
    padding-top: 0px;
}

.sidebar .list-group-item
{
    background-color: #080808;
    background-image: url('/School/Web/images/textures/darkStripes.png');
    color: #e2e2e2;
    border: none;
    border-bottom: 1px solid #8C8C8C;
    margin-bottom: 0px;
}

.sidebar .list-group-item:not(:first-child):hover
{
    color: white;
    background: #474747;
}

.sidemenu-slide-button
{
    font-size: 36px;
    color: #d3cfcf;
    cursor: pointer;
}

.mini-submenu
{
    display:none;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid rgba(0, 0, 0, 0.9);
    padding: 9px;
    width: 42px;
}

.mini-submenu:hover
{
    cursor: pointer;
}

.mini-submenu .icon-bar
{
    display: block;
    height: 2px;
    width: 22px;
    margin-top: 3px;
}

.mini-submenu .icon-bar
{
    background-color: #000;
}