<?xml version="1.0" encoding="iso-8859-1" ?>
<definitions>
    /* ENV variable can be set to "local" or "production" */
    <define var="env" value="debug" />
    <define var="testing" value="false" />

    <define var="defaultProfilePicturePath" value="/School/Web/images/defaultProfilePicture.png" />
</definitions>