<div class="panel-1">
    <div class="data-table-1">
        <div class="header">
            <div class="title">
                Activity list
            </div>
        </div>
        <div class="table">
            <div class="component-loading" *ngIf="isLoading"></div>
            <div class="component-error" *ngIf="hasError"></div>
            <div class="no-data" *ngIf="!isLoading && !hasError && initialDataSize == 0">
                You have no activities yet.
                <a [routerLink]="['/School/Teacher/Activity/Create']"><button type="button" class="button-green">Create one</button></a>
            </div>
            <table cellspacing="0" *ngIf="!isLoading && initialDataSize > 0 && !hasError">
                <tr>
                    <th>Name</th>
                    <th>Rate</th>
                    <th>Period</th>
                    <th>Students</th>
                    <th>Actions</th>
                </tr>
                <tr class="data-table-no-results" *ngIf="data.length == 0">
                    <td colspan="5">
                        No results
                    </td>
                </tr>
                <tr *ngFor="#activity of data">
                    <td>{{ activity.name }}</td>
                    <td>{{ activity.rate }}</td>
                    <td>{{ activity.period }}</td>
                    <td class="student-count"><i>{{ activity.studentCount }}</i></td>
                    <td class="actions">
                        <ul>
                            <li><i class="delete" title="delete" (click)="delete(activity)"></i></li>
                            <li><i class="update" title="update" (click)="update(activity)"></i></li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="text" placeholder="Search name" [ngFormControl]="searchRules.name" />
                    </td>
                    <td>
                        <input type="text" placeholder="Search rate" [ngFormControl]="searchRules.rate" />
                    </td>
                    <td>
                        <input type="text" placeholder="Search period" [ngFormControl]="searchRules.period" />
                    </td>
                    <td></td>
                    <td></td>
                </tr>
            </table>
        </div>
        <div class="footer" *ngIf="!isLoading && initialDataSize > 0 && !hasError">
            <div class="showing">
                Showing {{ data.length == 0 ? 0 : page * max + 1 }}
                to {{ ((page + 1) * max) > total ? total : (page + 1) * max }}
                of {{ total }} <span>entries</span>
            </div>
            <div class="page-selector">
                <button [class.disabled]="page == 0" (click)="previousPage()">
                    <i class="fa fa-arrow-left"></i>
                </button>
                <button>
                    {{ page + 1 }}
                </button>
                <button [class.disabled]="(page + 1) * max >= total" (click)="nextPage()">
                    <i class="fa fa-arrow-right"></i>
                </button>
            </div>
        </div>
    </div>
</div>