{{{ use Library\Facades\HTML; }}}

<div class="row data-table">
    <div class="col-md-12">
        <div class="data-table-header">
            <div class="data-table-header-title">Activities ({{ $activities->count() }})</div>
            <div class="data-table-header-search">
                <!--
                <form role="search">
                    <div class="form-group search">
                        <input type="text" placeholder="Search" class="form-control" />
                    </div>
                </form>
                -->
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="data-table-body table-responsive">
            <table id="activity-tabl" class="table-hover sortable">
                <thead>
                <tr>
                    <th width="20%">Name</th>
                    <th width="15%">Default rate</th>
                    <th width="15%">Period</th>
                    <th width="10%">Students</th>
                    <th width="15%">Location</th>
                    <th width="15%">Created</th>
                    <th width="10%" class="sorttable_nosort"></th>
                </tr>
                </thead>
                <tbody>
                @foreach ($activities as $activity)
                    <tr>
                        <td>{{ $activity->name }}</td>
                        <td>{{ $activity->rate }}</td>
                        <td>{{ $activity->periodToString() }}</td>
                        <td>{{ $activity->students()->count() }}</td>
                        <td>{{ $activity->location }}</td>
                        <td>{{ $activity->created_at }}</td>
                        <td>
                            <span class="data-table-action">
                                <a href="{{ HTML::path('School#Teacher/Activity#edit', $activity->id) }}">
                                    <img src="/School/Web/images/icons/edit.png" width="20" height="20" />
                                </a>
                            </span>
                            <span class="data-table-action">
                                <a onclick="return showConfirmModal(this)">
                                    <form id="delete-form" action="{{ HTML::path('School#Teacher/Activity#destroy') }}" method="POST">
                                        <input type="hidden" name="_method" value="DELETE" />
                                        <input type="hidden" name="activityId" value="{{ $activity->id }}" />
                                    </form>
                                    <img src="/School/Web/images/icons/delete.png" width="20" height="20" />
                                </a>
                            </span>
                        </td>
                    </tr>
                @endforeach
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                Confirm delete
            </div>
            <div class="modal-body">
                Deleting an <b>activity</b> will also remove all associated events.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    Cancel
                </button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="confirmCallBack()">
                    Save changes
                </button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="/School/Web/tools/sorttable/sorttable.js"></script>

<script>
var currentForm = '';

function showConfirmModal(e) {
    currentForm = e.children[0];

    $('#confirm-delete').modal('show');
    return false;
}

function confirmCallBack() {
    currentForm.submit();
}
</script>
