#monthly-calendar {
  .header {
    display: flex;
    align-items: center;
    height: 60px;
    padding: 0 10px;

    button {
      height: 35px;
      border: 1px solid #cccccc;
      background: #fff;
      font-size: 12px;
      font-weight: 600;
      line-height: 35px;
    }

    button:hover {
      background-color: #f2f2f2;
      cursor: pointer;
    }

    .navigation {
      flex-basis: 10%;

      button { width: 35px; }
    }

    .today {
      flex-basis: 10%;

      button {
        width: 60px;
        margin-left: 20px;
      }
    }

    .display {
      flex-basis: 60%;
      text-align: center;
      font-size: 14px;
      font-weight: 600;
    }

    .mode {
      flex-basis: 20%;
    }
  }

  .body {
    padding: 0 10px 10px 10px;

    table {
      border-collapse: collapse;
      width: 100%;

      tr {
        th, td {
          border: 1px solid #ddd;
        }

        th {
          height: 50px;
          width: 14%;
          font-size: 13px;
          border-bottom: 1px solid #bbb;
        }

        td {
          height: 125px;
          position: relative;

          .top {
            height: 25px;
            text-align: right;
            font-size: 12px;
            line-height: 20px;
            margin-right: 3px;
          }

          .top.faded {
            color: #808080;
          }

          .events {
            height: 100px;
            display: flex;
            flex-direction: column;

            .event {
              flex-basis: 25%;
              text-align: center;
              background-color: #26a69a;
              border-top: 1px solid #cccccc;
              border-bottom: 1px solid #cccccc;
              color: #fff;
              cursor: pointer;
            }

            .event.event-green {
              background-color: #67b168;
            }
          }

          .add {
            line-height: 20px;
            position: absolute;
            font-size: 20px;
            top: 0px;
            left: 3px;
            display: none;
            cursor: pointer;

            i { color: #26a69a; }
          }
        }

        td:hover {
          .add { display: block; }
        }
      }
    }
  }
}

#new-event-modal {
  .color-options {
    flex-basis: 100%;
    display: flex;

    > div {
      flex-basis: 30px;
      height: 30px;
      border-radius: 15px;
      margin-right: 15px;
      cursor: pointer;
    }

    > div.color-selected,
    > div:hover {
      border: 2px solid #444;
    }

    .color-teal { background-color: #26a69a; }
    .color-green { background-color: #67b168; }
  }
}