$color-selected-menu: #26a69a;
$color-hover-menu-first-level: #202B30;
$color-hover-menu-second-level: #202729;
$color-top-menu-border: #4b5a61;
$color-menu-background: #263238;
$color-menu-text: #c7cacb;
$color-menu-text-hover: #fff;

$side-menu-width: 260px;
$header-height: 45px;

.dropdown-1 {
  position: relative;
  color: #fff;
  padding: 0 10px;
  cursor: pointer;
  font-size: 14px;
  z-index: 101;

  img {
    vertical-align: middle;
    margin-right: 5px;
    margin-top: -3px;
  }

  > i {
    color: #fff;
  }

  .dropdown-box {
    position: absolute;
    width: 200px;
    right: 0;
    display: none;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);

    .arrow-box:after, .arrow-box:before {
      bottom: 100%;
      right: 10px;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
    }

    .arrow-box:after {
      border-color: rgba(136, 183, 213, 0);
      border-bottom-color: white;
      border-width: 8px; margin-left: -8px;
    }

    .arrow-box:before {
      border-color: rgba(194, 225, 245, 0);
      border-bottom-color: #f6f6f6;
      border-width: 9px; margin-left: -9px;
    }

    .arrow-box {
      position: relative;
      background-color: white;
      border: 1px solid #f2f2f2;

      ul {
        list-style: outside none none;
        cursor: default;

        li:not(.divider) {
          line-height: 25px;

          a {
            color: #444;
            padding: 5px 15px;
            display: block;

            i {
              margin-right: 10px;
            }
          }
        }

        li.divider {
          height: 0;
          margin: 4px 0;
          border-bottom: 1px solid #f2f2f2;
        }

        li:not(.divider):hover {
          background-color: #f6f6f6;
        }
      }
    }
  }
}

.dropdown-1:hover {
  background-color: #2a353c;

  .dropdown-box {
    display: block;
  }
}

#container {
  position: relative;
  background-color: #f5f5f5;
}

header {
  height: $header-height;
  line-height: $header-height;
  background-color: #37474f;
  padding: 0 2%;
  border-bottom: 1px solid $color-top-menu-border;

  > div {
    color: #fff;

    a {
      color: #fff;
    }
  }

  .school-name {
    font-size: 18px;
    float: left;
  }

  .account {
    float: right;
  }

  #responsive-menu-button {
    float: right;
    cursor: pointer;
    display: none;
    height: 45px;

    i {
      color: $color-menu-text;
      font-size: 30px;
      line-height: 45px;
    }
  }

  #responsive-menu-button:hover i {
    color: $color-menu-text-hover;
  }
}

#menu {
  height: 100%;
  z-index: 103;
  float: left;
  width: $side-menu-width;
  background-color: $color-menu-background;
  position: absolute;
  left: 0;
  top: 0;

  .responsive-user-menu {
    height: 45px;
    line-height: 45px;
    border-bottom: 1px solid $color-top-menu-border;
    padding: 0 2%;
    display: none;

    .account {
      float: right;
    }

    .dropdown-1:hover {
      background-color: $color-hover-menu-first-level;
    }
  }

  .search {
    height: 100px;

    .search-wrapper {
      position: relative;
      margin: 0 auto;
      width: 200px;
      height: 100%;

      #search {
        height: 40px;
        width: 200px;
        margin-top: 30px;
        background-color: $color-menu-background;
        border: none;
        border-bottom: 1px solid $color-menu-text;
        color: $color-menu-text;
        padding: 0 20px 0 5px;
      }

      #search:focus {
        color: $color-menu-text-hover;
        border-bottom: 1px solid $color-menu-text-hover;
      }

      i {
        position: absolute;
        color: $color-menu-text;
        height: 20px;
        top: 50%;
        margin-top: -8px;
        right: 2px;
      }

      #search-results {
        position: absolute;
        width: 200px;
        height: 300px;
        background-color: white;
        left: 0;
        z-index: 100;
        display: none;
      }
    }
  }

  .menu-only {
    a, i {
      color: $color-menu-text;
      font-weight: 500;
    }

    a {
      display: block;
      font-size: 13px;
      padding-left: 20px;
      -webkit-transition: background-color 0.2s;
      -moz-transition: background-color 0.2s;
      -ms-transition: background-color 0.2s;
      -o-transition: background-color 0.2s;
      transition: background-color 0.2s;
    }

    a:hover {
      background-color: $color-hover-menu-first-level;
      color: #fff;
      -webkit-transition: background-color 0.2s;
      -moz-transition: background-color 0.2s;
      -ms-transition: background-color 0.2s;
      -o-transition: background-color 0.2s;
      transition: background-color 0.2s;

      i {
        color: #fff;
      }
    }

    i {
      font-size: 16px;
      margin-right: 10px;
    }

    ul {
      list-style: outside none none;

      li {
        line-height: 45px;
      }

      li.active a {
        color: #fff;

        i {
          color: #fff;
        }
      }
    }

    > ul {
      > li.multi-level {
        position: relative;

        > a:after {
          position: absolute;
          font-family: FontAwesome;
          content: "\f0da";
          color: #c7cacb;
          right: 0;
          margin-right: 8px;
          font-size: 14px;
        }
      }

      > li {
        > ul {
          display: none;
          background-color: $color-hover-menu-first-level;
          border-top: 1px solid $color-top-menu-border;
          border-bottom: 1px solid $color-top-menu-border;

          > li {
            > a {
              padding-left: 45px;
            }
          }

          > li:hover > a {
            background-color: $color-hover-menu-second-level;
          }

          > li.active > a {
            background-color: $color-hover-menu-second-level;
          }
        }
      }

      > li.open {
        > a {
          background-color: $color-hover-menu-first-level;
        }

        > a:after {
          content: "\f0d7";
        }
      }

      > li.active > a {
        background-color: $color-selected-menu;
      }
    }
  }
}

#content {
  margin-left: $side-menu-width;
  padding-bottom: 30px;
}

@import 'layout-responsive';