@media screen and (max-width: 480px) {
  .profile {
    flex-wrap: wrap;

    .picture {
      flex-basis: 100%;
      margin-right: 0;
      margin-bottom: 20px;
    }

    .information {
      flex-basis: 100%;
    }
  }
}