#container, #content {
  min-height: 100%;
}

#content {
  position: relative;
}

a:hover {
  text-decoration: none;
}

button.button-red,
button.button-green,
button.button-gray {
  height: 30px;
  width: 140px;
  border: 1px solid #cccccc;
  cursor: pointer;
  color: #fff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

button.button-red {
  background-color: #a94442;
}

button.button-green {
  background-color: #67b168;
}

button.button-gray {
  background-color: #f2f2f2;
  color: black;
}

button.button-long {
  width: 180px;
}

button.button-short {
  width: 100px;
}

button.button-tall {
  height: 40px;
}

button.button-large {
  height: 40px;
  font-weight: 600;
}

#content {
  .content-padding {
    padding: 30px 20px;
  }

  .main-title {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 20px;
    height: 60px;
    line-height: 60px;
    background-color: #e6e6e6;
    padding: 0 20px;
    border-bottom: 1px solid #cccccc;
  }
}

.panel-1 {
  background-color: #fff;
  border: 1px solid #ddd;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}

.form-1 {
  width: 100%;
  padding: 20px;

  .form-title {
    font-size: 18px;
    margin-bottom: 30px;
  }

  .form-row {
    margin: 20px 0;

    label {
      width: 25%;
      float: left;
      font-size: 17px;
      line-height: 40px;
    }

    input[type="text"],
    input[type="password"] {
      width: 75%;
      height: 40px;
      padding: 0 5px;
      -webkit-border-radius: 0px;
      -moz-border-radius: 0px;
      border-radius: 0px;
      border: 1px solid #cccccc;
    }

    input[type="text"]:focus,
    input[type="password"]:focus ,
    select:focus {
      border-color: #808080;
    }

    input[type="text"].valid,
    input[type="password"].valid {
      border-color: $color-main;
    }

    input[type="text"].invalid,
    input[type="password"].invalid {
      border-color: $color-error;
    }

    select {
      height: 40px;
      width: 75%;
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      border-radius: 0;
      border: 1px solid #cccccc;
      background-color: white;
    }

    .form-error {
      margin-top: 5px;
      margin-left: 25%;
    }
  }

  .form-buttons {
    text-align: right;
    height: 60px;
    line-height: 60px;

    label {
      margin-right: 50px;
    }

    input[type="checkbox"] {
      margin-right: 5px;
      vertical-align: middle;
    }

    button[type="submit"] {
      background-color: $color-main;
      width: 150px;
      height: 40px;
      cursor: pointer;
      color: white;
      font-weight: 600;
    }
  }
}

.data-table-1 {
  .header {
    height: 60px;
    border-bottom: 1px solid #ddd;
    position: relative;

    .title, .filter {
      width: 50%;
      float: left;
      height: 50px;
      padding: 10px 20px;
      line-height: 40px;
    }

    .title {
      font-size: 18px;
    }

    .filter {
      text-align: right;
      padding-right: 40px;

      input {
        height: 30px;
        width: 200px;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;
        border: 1px solid #cccccc;
        margin-left: 10px;
        padding: 0 5px;
      }

      input:focus {
        border-color: #808080;
      }
    }

    .collapse-table-button {
      text-align: center;
      width: 25px;
      height: 25px;
      position: absolute;
      top: 15px;
      right: 6px;
      font-size: 26px;
      cursor: pointer;
      content: "";
      font-family: FontAwesome;
    }

    .collapse-table-button.open:after {
      content: "\f107";
    }

    .collapse-table-button.closed:after {
      content: "\f105";
    }
  }

  .table {
    table {
      width: 100%;
      border-collapse: collapse;

      tr:first-child {
        height: 30px;
        text-align: left;
      }

      th, td {
        padding: 0 20px;
        height: 40px;
      }

      th {
        border-bottom: 1px solid #bbb;
        font-size: 13px;
        font-weight: 600;
        position: relative;
      }

      th.sortable {
        cursor: pointer;
      }

      th.sortable:before,
      th.sortable:after {
        position: absolute;
        font-family: FontAwesome;
        content: "";
        font-size: 13px;
        right: 20px;
      }

      th.sortable:not(.sorted-desc):before {
        margin-top: -4px;
        content: "\f106";
      }

      th.sortable:not(.sorted-asc):after {
        margin-top: 4px;
        content: "\f107";
      }

      td {
        font-size: 14px;
        border-bottom: 1px solid #ddd;
      }

      tr:not(:first-child):not(:last-child):hover {
        td {
          background-color: #f2f2f2;
        }

        .actions ul {
          display: block;
        }
      }

      tr:last-child {
        td {
          padding: 0 20px;
          border-color: #bbb;

          input {
            width: 130px;
            height: 30px;
            -webkit-border-radius: 0;
            -moz-border-radius: 0;
            border-radius: 0;
            border: 1px solid #cccccc;
            padding: 0 5px;
          }

          input:focus {
            border-color: #808080;
          }
        }
      }

      .actions {
        ul {
          display: none;
          list-style: outside none none;

          li {
            display: inline-block;
            cursor: pointer;
            margin-right: 10px;

            i {
              font-family: FontAwesome;
              content: "";
              font-style: normal;
              font-size: 20px;
            }

            i.delete:after {
              content: "\f00d";
              color: #a94442;
              font-size: 18px;
            }

            i.update:after {
              color: #4C4C4C;
              content: "\f040";
            }
          }
        }
      }
    }
  }

  .footer {
    height: 60px;
    padding: 0 20px;

    .showing, .page-selector {
      float: left;
      width: 50%;
      line-height: 60px;
    }

    .showing {
      font-size: 13px;
      font-weight: 600;
    }

    .page-selector {
      text-align: right;

      button {
        width: 35px;
        height: 35px;
      }

      button::-moz-focus-inner {
        border: 0;
      }

      button:first-child,
      button:last-child {
        cursor: pointer;
        background: none;
        border: none;
        -webkit-border-radius: 6px;
        -moz-border-radius: 6px;
        border-radius: 6px;
      }

      button:first-child:hover:not(.disabled),
      button:last-child:hover:not(.disabled) {
        background-color: #202B30;

        i {
          color: #fff;
        }
      }

      button:first-child.disabled,
      button:last-child.disabled {
        opacity: 0.5;
        cursor: default;
      }

      button:nth-child(2) {
        background: none;
        border: none;
        outline: none;
      }
    }
  }
}

.checkbox-1 {
  height: 30px;
  line-height: 30px;

  input {
    display: none;
  }

  i {
    font-family: FontAwesome;
    font-style: normal;
    display: inline-block;
    width: 25px;
    font-size: 22px;
    vertical-align: middle;
  }

  i:before {
    content: "\f096";
  }

  input:checked ~ i:before {
    content: "\f046";
  }
}

.checkbox-1.disabled {
  i {
    color: grey;
  }

  i:before {
    content: "\f046";
  }
}

/* MODAL */

.modal-1 {
  width: 600px;

  .header, .body, .footer {
    padding: 10px;
  }

  .header {
    height: 50px;
    line-height: 30px;
    border-bottom: 1px solid #cccccc;
    font-size: 18px;
  }

  .body {

  }

  .footer {
    border-top: 1px solid #cccccc;
    height: 50px;
    line-height: 30px;
    text-align: right;
  }
}

.switcher-1 {
  float: left;

  ul {
    list-style: outside none none;
    border: 1px solid #e2e2e2;
    width: 230px;
    background-color: white;

    li {
      position: relative;

      a {
        display: block;
        width: 100%;
        padding: 20px;
        color: #808080;
      }

      a:after {
        font-family: FontAwesome;
        content: "\f054";
        position: absolute;
        right: 15px;
        top: 50%;
        height: 10px;
        margin-top: -5px;
        font-size: 13px;
        color: #808080;
      }
    }

    li:not(:last-child) {
      border-bottom: 1px solid #e2e2e2;
    }

    li:hover, li.active {
      a, a:after {
        color: #444;
      }
    }
  }
}

.switcher-1-content {
  margin-left: 260px;
}

@import 'school-responsive';
@import 'layout';
@import 'activities';
@import 'settings';
@import 'account';