@media screen and (max-width: 850px) {
  .switcher-1 {
    width: 100%;
    float: none;
    margin-bottom: 30px;

    ul {
      width: 100%;
    }
  }

  .switcher-1-content {
    width: 100%;
    margin-left: 0;
  }
}

@media screen and (max-width: 480px) {
  #content .main-title {
    text-align: center;
  }

  .form-1 {
    .form-row {
      label {
        width: 100%;
        margin-bottom: 5px;
      }

      input[type="text"] {
        width: 100%;
      }

      .form-error {
        margin-left: 0;
      }
    }
  }

  .data-table-1 {
    .header .filter {
      input {
        width: 150px;
      }

      span {
        display: none;
      }
    }

    .table {
      overflow-x: auto;

      table tr:last-child td {
        height: 60px;
      }
    }

    .footer .showing {
      font-size: 12px;

      span {
        display: none;
      }
    }
  }

  .switcher-2 {
    ul {
      padding: 0;

      li {
        flex-basis: 100%;
      }

      li.active {
        border: none;
        a, i { color: #26a69a; }
      }
    }
  }
}