@layout('school.layout')

@section('styles')

<link rel="stylesheet" href="{{ asset('css/vendor/jquery.webui-popover.css') }}">

@stop()

@section('content')

<script id="payment-template" type="x-template">
    <div id="payment">
        <h1>January < ></h1>
        <component is="paymentActivity" class="p-activity" v-repeat="activity: activities"></component>
    </div>
</script>

<script id="payment-activity-template" type="x-template">
    <div class="p-activity-header" v-on="click: isOpen = !isOpen" v-class="open: isOpen">
        @{{ activity.name }}
    </div>
    <div class="p-activity-body table-style-1" v-show="isOpen">
        <div v-show="activity.students.length > 0">
            <table>
                <thead>
                <tr>
                    <th width="5%"></th>
                    <th width="25%">Student</th>
                    <th width="20%">Due date</th>
                    <th width="20%">Balance</th>
                    <th width="20%">Status</th>
                    <th width="10%"></th>
                </tr>
                </thead>
                <tbody>
                <tr v-component="payment-student" is-checked="@{{ checkAll }}" v-repeat="student: activity.students"></tr>
                </tbody>
            </table>
            <div class="p-activity-footer">
            <span class="p-check-all">
                <input type="checkbox" v-model="checkAll" />
            </span>
            </div>
        </div>

        <div class="p-no-students" v-show="activity.students.length == 0">
            There are no students assigned to this activity...
            <a href="@path('school.teacher.student.index')">Go to students page</a>
        </div>
    </div>
</script>

<script id="payment-student-template" type="x-template">
    <tr>
        <td>
            <input type="checkbox" v-model="isChecked" />
        </td>
        <td>
            <img src="@{{ student.profile_picture }}" height="30" />
            @{{ student.name }}
        </td>
        <td>
            @{{ student.payment_day }}
        </td>
        <td>
            @{{ student.rate }}
        </td>
        <td>
            <img src="{{ asset('images/icons/paid-icon.png') }}" width="35" />
        </td>
        <td>
            <div class="payment-options-container">
                <popover on-mark-paid="@{{ markPaid }}"></popover>
            </div>
        </td>
    </tr>
</script>

<script id="popover-template" type="x-template">
    <div class="popover-template-container">
        <i class="fa fa-gear popover-template-trigger" v-on="click: toggleShown"></i>
        <div v-if="isShown">
            <div class="popover-template-options">
                <div v-on="click: onMarkPaid">Mark paid</div>
                <div>Cancel payment</div>
            </div>
        </div>
    </div>
</script>

<script type="text/javascript">
    var activities = JSON.parse('{{ $activities }}');
</script>

@stop()
