<div class="switcher-2">
    <ul>
        <li class="@if (currentRoute() == 'school.teacher.account.index') active @endif ">
            <a href="@path('school.teacher.account.index')"><i class="fa fa-user"></i>Profile</a>
        </li>
        <li class="@if (currentRoute() == 'school.teacher.account.personalInfo') active @endif ">
            <a href="@path('school.teacher.account.personalInfo')"><i class="fa fa-info"></i>Personal info</a>
        </li>
        <li class="@if (currentRoute() == 'school.teacher.account.password') active @endif ">
            <a href="@path('school.teacher.account.password')"><i class="fa fa-key"></i>Password</a>
        </li>
    </ul>
</div>