<!DOCTYPE html>
<html>
<head>
    <title>School</title>
    <meta http-equiv="Content-type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta id="csrf-token" content="{{ generateToken() }}">
    <link rel="stylesheet" href="/css/app.css" />
    <link rel="stylesheet" href="/vendor/font-awesome-4.4.0/css/font-awesome.min.css" />
</head>

<body>

<header class="clearfix">
    <div class="school-name"><a href="@path('school.teacher.index.index')">{{ $user->school()->name() }}</a></div>
    <div class="search">search</div>
    <div class="account">
        <div class="dropdown-1">
            <img src="images/defaultProfilePicture.png" width="40" height="40" />
            {{ $user->name() }}
            <div class="dropdown-box">
                <ul>
                    <li><a href="#"><i class="fa fa-chevron-right"></i>link1</a></li>
                    <li><a href="#"><i class="fa fa-gear"></i>link2</a></li>
                </ul>
            </div>
        </div>
    </div>
</header>

<div id="content">
    @yield('content')
</div>

</body>
</html>