<!DOCTYPE html>
<html>
<head>
    <title>School</title>
    <meta http-equiv="Content-type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <link rel="shortcut icon" href="/images/favicon.ico" > -->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/School/Web/css/default.css" type="text/css" />
    <link rel="stylesheet" href="/School/Web/css/school.css" type="text/css" />
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
</head>
<body>
    <div class="container-fluid">
        @include('School/topMenu')

        <div class="row main-content">
            @include('School/sideMenu')

            <div class="col-md-8">
                {{ $content }}
            </div>
        </div>
    </div>
</body>
</html>
