<div class="login">
    <form id="login-form" action="" method="POST">
        <div class="g-form-header">
            Login
        </div>

        <div class="g-form-body">
            <div class="g-form-input-row">
                <label class="g-form-label">Email<span class="required">*</span></label>
                <div class="g-form-input">
                    <div class="input-icon">
                        <i class="fa fa-warning"></i>
                        <input type="email" id="email" name="email" placeholder="Email" />
                    </div>
                    <span class="input-message">Email is required.</span>
                </div>
            </div>

            <div class="g-form-input-row">
                <label class="g-form-label">Password<span class="required">*</span></label>
                <div class="g-form-input">
                    <div class="input-icon">
                        <i class="fa fa-warning"></i>
                        <input type="password" id="password" name="password" placeholder="Password" />
                    </div>
                    <span class="input-message">Password is required.</span>
                </div>
            </div>

            <div class="forgot-password-row">
                Forgot your password?
                <a href="/School/account/reset-password">Click here</a>
            </div>

            <div class="create-account-row">
                Don't have an account yet?<br />
                <a href="/School/account/signup">Create an account</a>
            </div>
        </div>

        <div class="g-form-footer">
            <button type="submit">Login</button>
        </div>
    </form>
</div>

<script src="/School/Applications/Frontend/Modules/Account/Views/js/loginValidation.js"></script>
