<div class="memberships">
    <div class="membership membership1 active">
        <div class="membership-header">
            Basic
        </div>
        <div class="membership-body">
            <div class="membership-pricing">FREE</div>
            <div class="membership-description">
                <table>
                    <tr>
                        <td><span class="fa fa-group"></span></td>
                        <td>Students:</td>
                        <td>5</td>
                    </tr>
                    <tr>
                        <td><span class="fa fa-server"></span></td>
                        <td>Storage space:</td>
                        <td>1GB</td>
                    </tr>
                    <tr>
                        <td><span class="fa fa-lock"></span></td>
                        <td>SSL encryption:</td>
                        <td>Yes</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="membership-footer">
            <a href="#" onclick="selectSubscription(1);return false;">
                <button type="button">Select</button>
            </a>
        </div>
    </div>
    <div class="membership membership2">
        <div class="membership-header">
            Silver
        </div>
        <div class="membership-body">
            <div class="membership-pricing">$14.99 / month</div>
            <div class="membership-description">
                <table>
                    <tr>
                        <td><span class="fa fa-group"></span></td>
                        <td>Students:</td>
                        <td>20</td>
                    </tr>
                    <tr>
                        <td><span class="fa fa-server"></span></td>
                        <td>Storage space:</td>
                        <td>5GB</td>
                    </tr>
                    <tr>
                        <td><span class="fa fa-lock"></span></td>
                        <td>SSL encryption:</td>
                        <td>Yes</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="membership-footer">
            <a href="#" onclick="selectSubscription(2);return false;">
                <button type="button">Select</button>
            </a>
        </div>
    </div>
    <div class="membership membership3">
        <div class="membership-header">
            Gold
        </div>
        <div class="membership-body">
            <div class="membership-pricing">$24.99 / month</div>
            <div class="membership-description">
                <table>
                    <tr>
                        <td><span class="fa fa-group"></span></td>
                        <td>Students:</td>
                        <td>50</td>
                    </tr>
                    <tr>
                        <td><span class="fa fa-server"></span></td>
                        <td>Storage space:</td>
                        <td>7GB</td>
                    </tr>
                    <tr>
                        <td><span class="fa fa-lock"></span></td>
                        <td>SSL encryption:</td>
                        <td>Yes</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="membership-footer">
            <a href="#" onclick="selectSubscription(3);return false;">
                <button type="button">Select</button>
            </a>
        </div>
    </div>
    <div class="membership membership4">
        <div class="membership-header">
            Platinum
        </div>
        <div class="membership-body">
            <div class="membership-pricing">$39.99 / month</div>
            <div class="membership-description">
                <table>
                    <tr>
                        <td><span class="fa fa-group"></span></td>
                        <td>Students:</td>
                        <td>Unlimited</td>
                    </tr>
                    <tr>
                        <td><span class="fa fa-server"></span></td>
                        <td>Storage space:</td>
                        <td>10GB</td>
                    </tr>
                    <tr>
                        <td><span class="fa fa-lock"></span></td>
                        <td>SSL encryption:</td>
                        <td>Yes</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="membership-footer">
            <a href="#" onclick="selectSubscription(4);return false;">
                <button type="button">Select</button>
            </a>
        </div>
    </div>
</div>

<div class="signup">
    {{{ use \Library\Facades\Form; }}}

    {{ Form::open('signup-form', '') }}

    {{ Form::hidden('subscriptionType', '1') }}

    <div class="g-form-header">
        Sign up
    </div>

    <div class="g-form-body">

        <div class="form-group">
            {{ Form::label('firstName', 'First name', ['class' => 'col-md-6']) }}
            {{ Form::text('firstName', null, ['class' => 'form-input col-md-1', 'placeholder' => 'First name']) }}
        </div>

        <div class="form-group">
            {{ Form::label('lastName', 'Last name') }}
            {{ Form::text('lastName', null, ['placeholder' => 'Last name']) }}
        </div>

            <div class="g-form-input-row">
                <label class="g-form-label">First name<span class="required">*</span></label>
                <div class="g-form-input">
                    <div class="input-icon">
                        <i class="fa fa-warning"></i>
                        <input type="text" id="firstName" name="firstName" placeholder="First name" />
                    </div>
                    <span class="input-message">First name is required.</span>
                </div>
            </div>

            <div class="g-form-input-row">
                <label class="g-form-label">Last name<span class="required">*</span></label>
                <div class="g-form-input">
                    <div class="input-icon">
                        <i class="fa fa-warning"></i>
                        <input type="text" id="lastName" name="lastName" placeholder="Last name" />
                    </div>
                    <span class="input-message">Last name is required.</span>
                </div>
            </div>

            <div class="g-form-input-row">
                <label class="g-form-label">Email<span class="required">*</span></label>
                <div class="g-form-input">
                    <div class="input-icon">
                        <i class="fa fa-warning"></i>
                        <input type="text" id="email" name="email" placeholder="Email" />
                    </div>
                    <span class="input-message">Email is required.</span>
                    <span class="input-message">Email is invalid.</span>
                    <span class="input-message">Email is already registered.</span>
                </div>
            </div>
        </div>

        <div class="g-form-footer">
            <button type="submit">Sign up</button>
        </div>
    {{ Form::close() }}
</div>

<script src="/Applications/Frontend/Modules/Account/Views/js/signUpValidation.js"></script>

<script type="text/javascript">
var currentSubscription = 1;

function selectSubscription(subscriptionNumber) {
    if (subscriptionNumber < 1 || subscriptionNumber > 3) {
        subscriptionNumber = 1;
    }

    $('.membership' + currentSubscription).removeClass('active');
    currentSubscription = subscriptionNumber;
    $('.membership' + currentSubscription).addClass('active');

    $('#subscription').val(currentSubscription);
}
</script>